{{!-- To the right --}}
<div class="pull-right hidden-xs">
  <i class="fa fa-bug"></i> <a href="#">{{t "views.app.reportissue"}}</a> <i class="fa fa-life-buoy"></i> <a href="#">{{t "views.app.support"}}</a>
</div>
{{!-- Default to the left --}}
<strong>{{t "copyright" year="2016 - 2017"}} <a href="{{t "website"}}" target="blank">{{t "company"}}</a>.</strong> {{t "rights"}}