<div class="chat-box">
  <div class="box box-primary direct-chat direct-chat-primary">
    <div class="box-header with-border">
      <h3 class="box-title">{{chatroom.conversers.firstObject.name}}</h3>

      <div class="box-tools pull-right">
        <span data-toggle="tooltip" title="{{t "views.app.components.chatBox.newMessage" count="3"}}" class="badge">{{t "views.app.components.chatBox.three"}}</span>
        <AppUi::Button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </AppUi::Button>
        <AppUi::Button type="button" class="btn btn-box-tool" data-widget="remove">
          <i class="fa fa-times"></i>
        </AppUi::Button>
      </div>
    </div>
    {{!-- /.box-header --}}
    <div class="box-body">
      {{!-- Conversations are loaded here --}}
      <div class="direct-chat-messages">

        {{#each chatroom.comments as |comment|}}
          {{#if (eq comment.createdUser currentUser.user.id)}}
            <div class="direct-chat-msg">
              <div class="direct-chat-info clearfix">
                <span class="direct-chat-name pull-left">{{comment.createdUserName}}</span>
                <span class="direct-chat-timestamp pull-right">{{moment-from-now comment.dateCreated}}</span>
              </div>

              <img class="direct-chat-img" src="{{this.apiHost}}/userimage/get/{{comment.createdUser}}" alt="{{comment.createdUserName}}">
              <div class="direct-chat-text">
                {{comment.comment}}
              </div>
            </div>
          {{else}}
            <div class="direct-chat-msg right">
              <div class="direct-chat-info clearfix">
                <span class="direct-chat-name pull-right">{{comment.createdUserName}}</span>
                <span class="direct-chat-timestamp pull-left">{{moment-from-now comment.dateCreated}}</span>
              </div>
              {{!-- /.direct-chat-info --}}
              <img class="direct-chat-img" src="{{this.apiHost}}/userimage/get/{{comment.createdUser}}" alt="{{comment.createdUserName}}">
              <div class="direct-chat-text">
                {{comment.comment}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>

    <div class="box-footer">
      <div class="input-group">
        {{message-box
            spellcheck=false
            entity=entity
            placeholder=(t "views.app.chat.messagebox")
            value=comment
        }}
        <span class="input-group-btn">
          <AppUi::Button type="submit" class="btn btn-primary btn-flat">{{t "views.app.chat.send"}}</AppUi::Button>
        </span>
      </div>
    </div>
    {{!-- /.box-footer--}}
  </div>
</div>
