<div class="interval-selector">

  <div class="days">
    <label>{{t "views.app.components.intervalselector.days"}}</label>
    {{input value=this.days type="number" min="0" max="99"}}
  </div>

  <div class="hours">
    <label>{{t "views.app.components.intervalselector.hours"}}</label>
    {{input value=this.hours type="number" min="0" max="8"}}
  </div>

  <div class="minutes">
    <label>{{t "views.app.components.intervalselector.minutes"}}</label>
    {{input value=this.minutes type="number" min="0" max="60" step="10"}}
  </div>
</div>
