
{{!-- Sidebar user panel (optional) --}}
<div class="user-panel">
  <div class="pull-left image">
    <img src="{{this.apiHost}}/userimage/get/{{currentUser.user.id}}" class="img-circle" alt="{{currentUser.user.name}}">
  </div>
  <div class="pull-left info">
    <p>{{currentUser.user.name}}</p>
    {{!-- Status --}}
    <a href="#"><i class="fa fa-circle text-success"></i>{{t "views.app.online"}}</a>
  </div>
</div>

{{!-- search form (Optional) --}}
<div class="sidebar-form">
  <div class="input-group">
    {{#power-select
        class="form-control"
        options=projectsList
        selected=(find-by "value" projectId projectsList)
        placeholder=(t "views.nav.selectproject")
        searchField="label"
        onChange=(action "projectChanged")
    as |project|}}
      {{project.label}}
    {{/power-select}}
  </div>
</div>
{{!-- /.search form --}}

{{!-- Sidebar Menu --}}
<ul class="sidebar-menu">
  <li class="header">{{t "views.nav.mainnav"}}</li>

  {{#each-in metaData as |module definition|}}
    {{#if definition.actions}}

      <li class="treeview">
        {{#if definition.projectRelated}}
          <a href="/{{appPrefix}}/{{projectId}}/{{definition.anchorRoute}}">
            <i class="fa fa-{{definition.icon}}"></i>
            <span>{{t definition.label}}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        {{else}}
          <a href="/{{appPrefix}}/{{definition.anchorRoute}}">
            <i class="fa fa-{{definition.icon}}"></i>
            <span>{{t definition.label}}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        {{/if}}
        <ul class="treeview-menu">
          {{#each-in definition.actions as |section menu|}}
            {{#each-in menu as |entity item|}}
              <li>
                {{#if definition.projectRelated}}
                  <a href="/{{appPrefix}}/{{projectId}}/{{item.anchorRoute}}" {{action "navigate" item.route  item.routeParams item.anchorRoute projectId}}>
                    <i class="fa fa-circle-o {{item.className}}"></i>{{t item.label}}
                  </a>
                {{else}}
                  <a href="/{{appPrefix}}/{{item.anchorRoute}}" {{action "navigate" item.route  item.routeParams item.anchorRoute}}>
                    <i class="fa fa-circle-o {{item.className}}"></i>{{t item.label}}
                  </a>
                {{/if}}
              </li>
            {{/each-in}}
            {{#if (not-last definition.actions menu)}}
              <li role="separator" class="divider"></li>
            {{/if}}
          {{/each-in}}
        </ul>
      </li>
    {{else}}
      <li class="treeview">
        {{#if definition.projectRelated}}
          <a href="/{{appPrefix}}/{{projectId}}/{{definition.anchorRoute}}" {{action "navigate" definition.route definition.routeParams definition.anchorRoute projectId}}>
            <i class="fa fa-{{definition.icon}}"></i>
            <span>{{t definition.label}}</span>
          </a>
        {{else}}
          <a href="/{{appPrefix}}/{{definition.anchorRoute}}" {{action "navigate" definition.route definition.routeParams definition.anchorRoute}}>
            <i class="fa fa-{{definition.icon}}"></i>
            <span>{{t definition.label}}</span>
          </a>
        {{/if}}
      </li>
    {{/if}}
  {{/each-in}}

  <li class="header">{{t "views.app.components.navBar.admin"}}</li>
  <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>{{t "views.app.components.navBar.important"}}</span></a></li>
  <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>{{t "views.app.components.navBar.warning"}}</span></a></li>
  <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>{{t "views.app.components.navBar.information"}}</span></a></li>
</ul>
{{!-- /.sidebar-menu --}}