{{#each-in lists as |key item|}}
  {{#if (objectEmpty item.nodes)}}
    <li class="wiki-list-no-parent">
      <a href="javascript:void(0);" {{action "loadWiki" projectId item.name}}>{{item.name}}</a>
    </li>
  {{else}}
    <li class="wiki-list-parent">
      <a href="javascript:void(0);" {{action "loadWiki" projectId item.name}}>{{item.name}}</a>
      <ul>
        {{tree-list lists=item.nodes projectId=projectId}}
      </ul>
    </li>
  {{/if}}
{{/each-in}}
