<div class="box-body">
  <FormFields::FieldRelate
    @placeholder={{t "views.app.user.create.timezoneplaceholder"}}
    @label={{t "views.app.user.create.timezonelabel"}}
    @selected={{find-by "value" @value this.timezonesList}}
    @value={{@value}}
    @options={{this.timezonesList}}
    @data-field="select-timezone"
    @searchField="label"
    @selected={{find-by "value" @value this.timezonesList}}
    @onchange={{action @selectRelated @model 'timezone'}}
    @relateType="relate-simple"
    @data-field="user.timezone"
    @validate={{@validate}}
    @message={{@message}}         
    @aclContext={{@aclContext}}     
  />  
</div>