<div class="board-container" {{initialize-sortable group=@group scroll=@scroll scrollSensitivity=@scrollSensitivity scrollSpeed=@scrollSpeed sort=@sort forceFallback=@forceFallback disableSortable=@disableSortable animationSpeed=@animationSpeed dragClass=@dragClass chosenClass=@chosenClass updateIssue=@updateIssue currentFilteredMilestone=this.currentFilteredMilestone}}>

  {{#each @milestones as |milestone|}}
    <AppUi::TaskBoard::Milestones
      @milestone={{milestone}}
      @group={{@group}}
      @statuses={{@statuses}}
      @statusClass={{@statusClass}}
      @group={{@group}}
      @reRenderView={{fn this.reRenderView}}
      @openIssue={{@openIssue}}
    />
  {{/each}}

</div>