<i class="fa fa-link bg-purple"></i>

<div class="timeline-item">
  <span class="time" data-activity="dateCreated"><i class="fa fa-clock-o"></i> {{@activity.createdSince}} {{t "global.ago"}}</span>
  <h3 class="timeline-header" data-activity="activityInfo">
    <LinkTo @route="app.user.page" data-activity="userName" @model={{@activity.createdUser}}>{{@activity.createdUserName}}</LinkTo>
    {{t (concat "views.app.activity.related." @activity.relatedActivity)}}
    <a href="javascript:void(0);" {{action "openMilestone" @activity.relatedActivityId}}>
      {{t (concat "global.module.singular." @activity.relatedActivityModule)}}
    </a>
  </h3>
  <div class="timeline-body" data-activity="description">
    {{safe-html @activity.description}}
  </div>
</div>
