  {{#if (or (eq this.milestone.status 'in_progress') (eq this.milestone.status 'planned'))}}
    <div class="milestone box">
      
      <div class="box-header with-border">
        <strong>{{t (concat "views.app.milestone.lists.type." this.milestone.milestoneType)}} {{this.milestone.name}}</strong>
        <div class="box-tools pull-right filters">
          <Input
            @value={{this.query}}
            {{on "keyup" @reRenderView}}
            data-input-milestone-id={{this.milestone.id}}
            name="query"
            autocomplete="off"
            placeholder={{concat (t "global.form.search") " " (t "global.module.plural.issue") " .."}}
            disabled={{this.toggleInput}}
          />
        </div>
        <div class="box-tools pull-right">
          <button {{action (toggle "toggleInput" this)}} type="button" class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>

      <div class="milestone box-body" data-field-milestone-id={{this.milestone.id}}>
        {{#each @statuses as |status|}}
          <div class="lane col-md-2">
            
            <div class="box {{get-prop @statusClass status}}">

              <div class="box-header with-border" data-field-status="{{status}}">
                {{t (concat "views.app.issue.lists.status." status)}}
              </div>

              <div class="lane box-body" data-field-lane-group={{@group}} data-field-milestone-id={{this.milestone.id}} data-field-status="{{status}}">

                <AppUi::TaskBoard::IssuesProvider @issues={{this.milestone.issues}} @query={{this.query}} as |issues|>
                  {{#each issues as |issue|}}
                    {{#if (eq issue.status status)}}
                      <div class="item" style="{{laneitem-color issue.issuetype.name}}" data-field-issue-id="{{issue.id}}" data-field-issue-status="{{issue.status}}" data-field-issue-milestone="{{issue.milestoneId}}">
                      
                        <h4>{{priority-icon priority=(readonly issue.priority)}} <a href="#" {{action @openIssue issue}}>#{{issue.issueNumber}} - {{issue.subject}}</a></h4>
                        <p class="description">{{safe-html issue.description}}</p>
                        <p>
                          <span class="badge {{issue.status}}">{{t (concat "views.app.issue.lists.status." issue.status)}}</span>
                          <span><img class="img-circle" src="{{this.apiHost}}/userimage/get/{{issue.assignedTo.id}}" alt="{{issue.assignedTo.name}}" title="{{issue.assignedTo.name}}"></span>
                        </p>
                        
                        {{#if issue.isSaving}}
                          <div class="item-overlay" {{lock-item}}>
                            <div class="dot-pulse"></div>
                          </div>
                        {{/if}}

                      </div>
                    {{/if}}
                  {{/each}}
                </AppUi::TaskBoard::IssuesProvider>

              </div>
              
            </div>

          </div>
        {{/each}}
      </div>

    </div>
  {{/if}}