<!-- This should be loaded later via the field view ideally -->
<div class="checkbox checkbox-primary">
  {{input type="checkbox" checked=value}}
  <label>
      {{label}}
  </label>
</div>

<br/>
typing : {{isTyping}} | empty : {{isEmpty}} | changed : {{isChanged}}
