<!-- This should be loaded later via the field view ideally -->

{{drop-zone url='http://example.com/example' uploadMultiple=false addRemoveLinks=true}}

<span class="highlight"></span>
<span class="bar"></span>
<label class="floating-label">{{label}}</label>
<span class="count pull-right">{{#if length}}{{value.length}}/{{length}}{{/if}}</span>
<span class="error hidden text-red">This field cannot be required</span>

<br/>
typing : {{isTyping}} | empty : {{isEmpty}} | changed : {{isChanged}}
