<div class="input-group select-input">
  {{#power-select
      class="form-control"
      options=options
      placeholder=placeholder
      selected=selected
      searchField=searchField
      onchange=onchange
      onblur=focus-out
  as |data|}}
    {{component relateType data=data}}
  {{/power-select}}
</div>
<span class="highlight"></span>
<span class="bar"></span>
<label class="floating-label">{{label}}</label>
<span class="count pull-right">{{#if length}}{{value.length}}/{{length}}{{/if}}</span>
{{#if v-focus}}
  <span class="error text-red">
    {{v-get v-model v-field v-output}}
  </span>
{{/if}}