<!-- This should be loaded later via the field view ideally -->
{{textarea-field required="required" value=value}}
<span class="highlight"></span>
<span class="bar"></span>
<label class="floating-label">{{label}}</label>

<br/>
typing : {{isTyping}} | empty : {{isEmpty}} | changed : {{isChanged}}
