<div class="dropzone-field">
    {{#let (file-queue name="photos" onFileAdded=this.uploadFile) as |queue|}}
    <FileDropzone @queue={{queue}} as |dropzone|>
        {{#if dropzone.active}}
        <p class="dropzone-active">
            
            {{t "global.form.upload.dash"}}
            {{t "global.form.upload.drop"}}
            
            
        </p>
        {{else if queue.files.length}}
        <p class="dropzone-uploading">
            {{t "global.form.upload.uploading" length=queue.files.length progress=queue.progress}}
        </p>
        {{else}}
        <p class="dropzone-ready">
            {{#if dropzone.supported}}
            {{t "global.form.upload.drag"}}
            {{/if}}

        </p>
        {{/if}}
    </FileDropzone>
    {{/let}}
</div>