{{#file-dropzone name="file" as |dropzone queue|}}
    {{#if dropzone.active}}
        {{#if dropzone.valid}}
            {{t "global.form.upload.drop"}}
        {{else}}
            {{t "global.form.upload.invalid"}}
        {{/if}}
    {{else if queue.files.length}}
        {{t "global.form.upload.uploading" length=queue.files.length progress=queue.progress}}
    {{else}}
        <p>
            {{#if dropzone.supported}}
                {{t "global.form.upload.drag"}}
            {{/if}}
            {{#file-upload name="file"
                           accept="*"
                           multiple=true
                           onfileadd=uploadFile}}
                <a id="upload-image" tabindex=0>{{label}}</a>
            {{/file-upload}}
        </p>
    {{/if}}
{{/file-dropzone}}