<div class="create-issue">

        <div class="row">
            <div class="col-md-8">

                <div class="box box-primary issues-details">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create Issue</h3>

                        <div class="box-tools pull-right">

                        </div>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding" style="display: block;">

                        <form {{action 'addIssue' on='submit'}}>
                            <div class="form-group">
                                {{field-text
                                        placeholder="Enter the issue subject .."
                                        label="Issue Subject"
                                        value=model.subject
                                        mask="alphanumeric"
                                }}

                                {{field-textarea
                                        placeholder="Enter the issue description .."
                                        label="Description"
                                        value=model.description
                                }}

                                {{field-relate
                                        placeholder=(t "view.app.issue.create.type")
                                        label=(t "view.app.issue.create.type")
                                        value=model.typeId
                                        options=type
                                        selected=(find-by "value" model.typeId type)
                                        searchField="label"
                                        onchange=(action "selectType")
                                        relateType="relate-simple"
                                }}

                                {{field-date
                                        placeholder="Enter the issue name .."
                                        label="Start Date"
                                        value=model.startDate
                                        mask="alphanumeric"
                                }}

                                {{field-date
                                        placeholder="Enter the issue name .."
                                        label="End Date"
                                        value=model.endDate
                                        mask="alphanumeric"
                                }}

                                {{field-relate
                                        placeholder=(t "view.app.issue.create.status")
                                        label=(t "view.app.issue.create.status")
                                        value=model.status
                                        options=status
                                        selected=(find-by "value" model.status status)
                                        searchField="label"
                                        onchange=(action "selectStatus")
                                        relateType="relate-simple"
                                }}

                                {{field-relate
                                        placeholder=(t "view.app.issue.create.priority")
                                        label=(t "view.app.issue.create.priority")
                                        value=model.priority
                                        options=priority
                                        selected=(find-by "value" model.priority priority)
                                        searchField="label"
                                        onchange=(action "selectPriority")
                                        relateType="relate-issuepriority"
                                }}

                                {{field-relate
                                        placeholder=(t "view.app.issue.create.selectmilestone")
                                        label=(t "view.app.issue.create.milestone")
                                        value=model.milestoneId
                                        options=milestoneList
                                        selected=(find-by "value" model.milestoneId milestoneList)
                                        searchField="label"
                                        onchange=(action "selectMilestone")
                                        relateType="relate-simple"
                                }}

                            </div>
                        </form>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer text-center" style="display: block;">

                    </div>
                    <!-- /.box-footer -->
                </div>

            </div>


            <div class="col-md-4">

                <div class="box box-warning issues-details">
                    <div class="box-header with-border">
                        <h3 class="box-title">People</h3>

                        <div class="box-tools pull-right">

                        </div>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding" style="display: block;">


                        {{field-relate
                            placeholder=(t "view.app.issue.create.selectassignee")
                            label=(t "view.app.issue.create.assignedTo")
                            value=model.assignee
                            options=memberList
                            selected=(find-by "value" model.assignee memberList)
                            searchField="label"
                            onchange=(action "selectAssignee")
                            relateType="relate-user"
                        }}


                        {{field-relate
                                placeholder=(t "view.app.issue.create.selectowner")
                                label=(t "view.app.issue.create.ownedBy")
                                value=model.owner
                                options=memberList
                                selected=(find-by "value" model.owner memberList)
                                searchField="label"
                                onchange=(action "selectOwner")
                                relateType="relate-user"
                        }}


                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer text-center" style="display: block;">

                    </div>
                    <!-- /.box-footer -->
                </div>

            </div>

            <div class="col-sm-12">
                <button type="button" class="btn btn-primary" disabled="{{saveDisabled}}" {{action "save"}}>{{t "global.form.save"}}</button>
                <button type="button" class="btn btn-default" {{action "cancel"}}>{{t "global.form.cancel"}}</button>
            </div>

            </div>

</div>