<div class="create-issue">

  <div class="row">
    <div class="col-md-8">

      <div class="box box-primary issues-details">
        <div class="box-header with-border">
          <h3 class="box-title">
            {{#if (eq this.layoutName 'edit')}}
              {{safe-html (t "views.app.issue.edit.page" issueNumber=this.model.issueNumber name=this.model.subject)}}
            {{else}}
              {{t "views.app.issue.create.title"}}
            {{/if}}
          </h3>

        </div>
        {{!-- /.box-header --}}
        <div class="box-body no-padding">

          <div class="form-group">

            <FormFields::FieldText
                @placeholder={{t  "views.app.issue.create.placeholder.subject"}}
                @label={{t "views.app.issue.create.subject"}}
                @type="text"
                @value={{this.model.subject}}
                @mask="alphanumeric"
                @data-field="issue.subject"
                @v-model={{this.model}}
                @length="255"
                @v-field='subject'
                @v-output='message'
            />
            <div data-field="issue.description" class="form-field ember-view">
              <AppUi::ToastUi
                  @usersList={{this.membersList}}
                  @issueSearch={{perform this.search}}
                  @contents={{readonly this.issueDescription}}
                  @initialValue={{this.issueDescription}}
                  @editType='wysiwyg'
                  @hide={{array 'footer'}}
                  @onContentChange={{action "selectStatic" this.model 'description'}}              
              />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label class="floating-label focused-field">{{t "views.app.issue.create.description"}}</label>
              <span class="count pull-right"></span>
            </div>

            <FormFields::FieldRelate
                @placeholder={{t "views.app.issue.create.type"}}
                @label={{t "views.app.issue.create.type"}}
                @value={{this.model.typeId}}
                @options={{this.typeList}}
                @selected={{find-by "value" this.model.typeId this.typeList}}
                @searchField="label"
                @onchange={{action "selectRelated" this.model 'typeId'}}
                @relateType="relate-simple"
                @data-field="issue.type"
                @v-model={{this.model}}
                @v-field='typeId'
                @v-output='message'
            />

            <FormFields::FieldDate
                @placeholder={{t "views.app.issue.create.placeholder.startDate"}}
                @label={{t "views.app.issue.create.startDate"}}
                @value="{{readonly this.model.startDate}}"
                @update={{action "selectStatic" this.model 'startDate'}}
                @data-field="issue.startDate"
                @format="YYYY-MM-DD"
                @singleDatePicker={{true}}
                @showDropdowns={{true}}
                @positionX="right"
                @positionY="down"
                @v-model={{this.model}}
                @v-field='startDate'
                @v-output='message'
                @autoApply={{true}}
                @minDate='1990'
            />

            <FormFields::FieldDate
                @placeholder={{t "views.app.issue.create.placeholder.endDate"}}
                @label={{t "views.app.issue.create.endDate"}}
                @value={{readonly this.model.endDate}}
                @update={{action "selectStatic" this.model 'endDate'}}
                @data-field="issue.endDate"
                @format="YYYY-MM-DD"
                @singleDatePicker={{true}}
                @showDropdowns={{true}}
                @positionX="right"
                @positionY="down"
                @v-model={{this.model}}
                @v-field='endDate'
                @v-output='message'
                @autoApply={{true}}
                @minDate='1990'
            />

            <FormFields::FieldRelate
                @placeholder={{t "views.app.issue.create.status"}}
                @label={{t "views.app.issue.create.status"}}
                @value={{this.model.statusId}}
                @options={{this.issueStatusList}}
                @selected={{find-by "value" this.model.statusId this.issueStatusList}}
                @searchField="label"
                @onchange={{action "selectRelated" this.model 'statusId'}}
                @relateType="relate-simple"
                @data-field="issue.status"
                @v-model={{this.model}}
                @v-field='statusId'
                @v-output='message'
            />

            <FormFields::FieldRelate
                @placeholder={{t "views.app.issue.create.priority"}}
                @label={{t "views.app.issue.create.priority"}}
                @value={{this.model.priority}}
                @options={{this.priority}}
                @selected={{find-by "value" this.model.priority this.priority}}
                @searchField="label"
                @onchange={{action "selectRelated" this.model 'priority'}}
                @relateType="relate-issuepriority"
                @data-field="issue.priority"
                @v-model={{this.model}}
                @v-field='priority'
                @v-output='message'
            />

            <FormFields::FieldRelate
                @placeholder={{t "views.app.issue.create.selectmilestone"}}
                @label={{t "views.app.issue.create.milestone"}}
                @value={{this.model.milestoneId}}
                @options={{this.milestoneList}}
                @selected={{find-by "value" this.model.milestoneId this.milestoneList}}
                @searchField="label"
                @onchange={{action "selectRelated" this.model 'milestoneId'}}
                @relateType="relate-simple"
                @data-field="issue.milestone"
                @v-model={{this.model}}
                @v-field='milestoneId'
                @v-output='message'
            />

          </div>

        </div>
      </div>

    </div>


    <div class="col-md-4">

      <div class="box box-warning issues-details">
        <div class="box-header with-border">
          <h3 class="box-title">{{t "views.app.issue.create.people"}}</h3>
        </div>
        {{!-- /.box-header --}}
        <div class="box-body no-padding">

          <FormFields::FieldRelate
              @placeholder={{t "views.app.issue.create.selectassignee"}}
              @label={{t "views.app.issue.create.assignedTo"}}
              @value={{this.model.assignee}}
              @options={{this.membersList}}
              @selected={{find-by "value" this.model.assignee this.membersList}}
              @searchField="label"
              @onchange={{action "selectRelated" this.model 'assignee'}}
              @relateType="relate-user"
              @data-field="issue.assignee"
              @v-model={{this.model}}
              @v-field='assignee'
              @v-output='message'
          />

          <FormFields::FieldRelate
              @placeholder={{t "views.app.issue.create.selectowner"}}
              @label={{t "views.app.issue.create.ownedBy"}}
              @value={{this.model.owner}}
              @options={{this.membersList}}
              @selected={{find-by "value" this.model.owner this.membersList}}
              @searchField="label"
              @onchange={{action "selectRelated" this.model 'owner'}}
              @relateType="relate-user"
              @data-field="issue.owner"
              @v-model={{this.model}}
              @v-field='owner'
              @v-output='message'
          />

        </div>
      </div>

      <div class="box box-info issues-details">
        <div class="box-header with-border">
          <h3 class="box-title">{{t "views.app.issue.create.parent"}}</h3>
        </div>
        {{!-- /.box-header --}}
        <div class="box-body no-padding">

          <FormFields::FieldRelate
              @placeholder={{t "views.app.issue.create.selectparent"}}
              @label={{t "views.app.issue.create.parentId"}}
              @value={{this.model.parentId}}
              @options={{this.issuesList}}
              @matcher={{this.parentMatcher}}
              @selected={{find-by "id" this.model.parentId this.issuesList}}
              @searchField="number"
              @onchange={{action "changedParent" this.model 'parentId'}}
              @relateType="relate-issue"
              @data-field="issue.parentId"
              @v-model={{this.model}}
              @v-field='parentId'
              @v-output='message'
          />

        </div>
      </div>

    </div>

    <div class="col-sm-12">
      <button type="button" data-btn="save" class="btn btn-primary" {{action "save"}}>{{t "global.form.save"}}</button>
      <button type="button" data-btn="cancel" class="btn btn-default" {{action "cancel"}}>{{t "global.form.cancel"}}</button>
    </div>

  </div>

</div>