<div class="row issues">

  <div class="col-md-2">
    <a href="javascript:void(0);" {{action "create" "issue"}} class="btn btn-primary btn-block margin-bottom">{{t "views.app.issue.list.create"}}</a>

    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">{{t "views.app.issue.list.savedsearch.label"}}</h3>

        <div class="box-tools">
          <button type="button" class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
          {{#each this.savedsearches as |search|}}
            <li>
              <a href="javascript:void(0);" {{action "applySearch" search}}>
                <div class="search-name">{{search.name}}</div>
                <i class="fa fa-filter pull-right" data-toggle="tooltip" title="{{t "views.app.issue.list.savedsearch.apply"}}"></i>
              </a>
              <div class="btn-group" data-toggle="tooltip" title="{{t "global.form.more"}}">
                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                  <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="javascript:void(0);" {{action "deleteSearch" search}}><i class="fa fa-trash"></i>{{t "global.form.delete"}}</a></li>
                </ul>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
      {{!-- /.box-body --}}
    </div>
    {{!-- /. box --}}
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">{{t "views.app.issue.list.savedsearch.shared"}}</h3>

        <div class="box-tools">
          <button type="button" class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
          {{#each this.publicsearches as |search|}}
            <li><a href="javascript:void(0);" {{action "copySearch" search}}>{{search.name}}<i class="fa fa-copy pull-right" data-toggle="tooltip" title="{{t "views.app.issue.list.savedsearch.import"}}"></i></a></li>
          {{/each}}
        </ul>
      </div>
      {{!-- /.box-body --}}
    </div>
    {{!-- /.box --}}
  </div>
  {{!-- /.col --}}
  <div class="col-md-10">

    <div class="box box-primary list-view">
      <div class="box-header with-border">

        <div class="search">
          <span data-toggle="tooltip" title="{{t "global.list.searchbox"}}">
            <button id="toggleFilters" {{action "toggleFilters"}} type="button" class="btn dropdown-toggle" data-toggle="collapse" data-target=".list-view-filters">
              <span class="caret"></span>
              <span class="sr-only">{{t "global.form.toggledd"}}</span>
            </button>
          </span>
          <div class="has-feedback">
            <FormFields::FieldText
              @focusIn={{fn this.openFilters}}
              @insert-newline={{this.filter}}
              @value={{this.query}}
              @name="query"
              @readonly="readonly"
              @placeholder={{concat (t "global.form.search") " " (t "global.module.plural.issue") " .."}}
              @aclContext="App.Project.Issue.List.SearchIssue"
            />
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
          <button type="button" class="btn btn-primary" {{action "searchByRules"}}>{{t "global.form.search"}}</button>
          <button type="button" class="btn" {{action "clearSearch"}}>{{t "global.form.clear"}}</button>
        </div>
        <div class="list-view-filters collapse">
          {{query-builder module="Issue" query=this.query}}
          <button type="button" class="btn btn-primary pull-right" {{action "showSaveSearchDialog"}}>{{t "global.form.savesearch"}}</button>
          {{#if this.saveSearchDialog}}
            {{#bootstrap-modal
                title="global.form.savesearch"
                confirmLabel="global.form.save"
                closeLabel="global.form.cancel"
                confirm=(action "saveSearch")
                close="removeSaveSearchDialog"}}

              <div class="ember-view">
                <label>{{t "views.app.issue.list.savedsearch.query"}}</label>
                <span>{{this.query}}</span>
              </div>

              <FormFields::FieldText
                @placeholder={{t "views.app.issue.list.savedsearch.inputname"}}
                @label={{t "views.app.issue.list.savedsearch.name"}}
                @value={{this.newSavedsearch.name}}
                @aclContext="App.Project.Issue.List.SavedSearch.Create.Name"
              />

            {{/bootstrap-modal}}
          {{/if}}

        </div>

      </div>
      {{!-- /.box-header --}}
      <div class="box-body no-padding">
        <div class="list-controls">

          <span class="btn btn-default btn-sm checkbox-toggle" data-toggle="tooltip" title="{{t "global.list.selectAll"}}">
            <FormFields::FieldCheckbox @select={{action this.selectAll}} @data-select="all" @aclContext="App.Project.Issue.List.SelectAllIssues"/>
          </span>
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="{{t "global.form.delete"}}"><i class="fa fa-trash-o"></i></button>
            <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="{{t "global.form.share"}}"><i class="fa fa-share-alt"></i></button>
            <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="{{t "global.form.massupdate"}}"><i class="fa fa-pencil"></i></button>
            <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="{{t "global.form.discuss"}}"><i class="fa fa-comments-o"></i></button>
          </div>
          <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="{{t "global.form.refresh"}}" {{action "reloadPage"}}><i class="fa fa-refresh"></i></button>
          <div class="pull-right">
            <span class="list-view-count">{{t "views.app.issue.list.selectedCount" count=this.selectedCount}}</span>
            {{add (mult (sub this.page 1) 20) 1}}-{{add (mult (sub this.page 1) 20) this.model.length}} / {{add (mult (sub this.page 1) 20) this.model.length}}
            {{#if this.model.meta.links.next}}+{{/if}}
            <div class="btn-group">
              {{#if this.model.meta.links.prev}}
                <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="{{t "global.list.prevPage"}}" {{action "paginate" (get-page this.model.meta.links.prev.href)}}><i class="fa fa-chevron-left"></i></button>
              {{else}}
                <button type="button" class="btn btn-default btn-sm disabled" data-toggle="tooltip" title="{{t "global.list.prevPage"}}"><i class="fa fa-chevron-left"></i></button>
              {{/if}}
              {{#if this.model.meta.links.next}}
                <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="{{t "global.list.nextPage"}}" {{action "paginate" (get-page this.model.meta.links.next.href)}}><i class="fa fa-chevron-right"></i></button>
              {{else}}
                <button type="button" class="btn btn-default btn-sm disabled" data-toggle="tooltip" title="{{t "global.list.nextPage"}}"><i class="fa fa-chevron-right"></i></button>
              {{/if}}
            </div>

          </div>
        </div>

        <div class="table-responsive issue-list">
          <table class="table table-hover table-striped">

            <thead>
              <tr>
                <th></th>
                <th class="{{sortable-class "Issue.issueNumber" this.sort this.order}}" data-sort="Issue.issueNumberSortable"><a href="javascript:void(0);" {{action "sortData" 'Issue.issueNumber'}}>{{t "views.app.issue.list.sr"}}</a></th>
                <th class="{{sortable-class "Issue.subject" this.sort this.order}}" data-sort="Issue.subjectSortable"><a href="javascript:void(0);" {{action "sortData" 'Issue.subject'}}>{{t "views.app.issue.list.subject"}}</a></th>
                <th class="{{sortable-class "issuetype.name" this.sort this.order}}" data-sort="Issue.statusSortable"><a href="javascript:void(0);" {{action "sortData" 'issuetype.name'}}>{{t "views.app.issue.list.issuetype"}}</a></th>
                <th class="{{sortable-class "Issue.status" this.sort this.order}}" data-sort="Issue.statusSortable"><a href="javascript:void(0);" {{action "sortData" 'Issue.status'}}>{{t "views.app.issue.list.status"}}</a></th>
                <th class="{{sortable-class "Issue.priority" this.sort this.order}}" data-sort="Issue.prioritySortable"><a href="javascript:void(0);" {{action "sortData" 'Issue.priority'}}>{{t "views.app.issue.list.priority"}}</a></th>
                <th class="{{sortable-class "milestone.name" this.sort this.order}}" data-sort="milestone.nameSortable"><a href="javascript:void(0);" {{action "sortData" 'milestone.name'}}>{{t "views.app.issue.list.milestone"}}</a></th>
                <th class="{{sortable-class "Issue.startDate" this.sort this.order}}" data-sort="Issue.startDateSortable"><a href="javascript:void(0);" {{action "sortData" 'Issue.startDate'}}>{{t "views.app.issue.list.startDate"}}</a></th>
                <th class="{{sortable-class "Issue.endDate" this.sort this.order}}" data-sort="Issue.endDateSortable"><a href="javascript:void(0);" {{action "sortData" 'Issue.endDate'}}>{{t "views.app.issue.list.endDate"}}</a></th>
              </tr>
            </thead>

            <tbody>
              {{#each this.model as |issue|}}
                <tr class="issue">
                  <td class="select-box">
                    <FormFields::FieldCheckbox @select={{action this.select}} @data-select={{issue.id}} @aclContext="App.Project.Issue.List.SelectIssue"/>
                  </td>
                  <td class="issue-number"><LinkTo @route="app.project.issue.page" @model={{issue.issueNumber}} {{action "openDetail" issue}}>{{issue.issueNumber}}</LinkTo></td>
                  <td class="issue-subject"><LinkTo @route="app.project.issue.page" @model={{issue.issueNumber}} {{action "openDetail" issue}}>{{issue.subject}}</LinkTo></td>
                  <td class="issue-type">{{issue.issuetype.name}}</td>
                  <td class="issue-status"><span class="badge {{issue.status}}">{{t (concat "views.app.issue.lists.status." issue.status)}}</span></td>
                  <td class="issue-priority"><AppUi::PriorityIcon @priority = {{readonly issue.priority}}/> {{t (concat "views.app.issue.lists.priority." issue.priority)}}</td>
                  <td class="issue-milestone"><a href="#">{{issue.milestone.name}}</a></td>
                  <td class="issue-start">{{moment-format issue.startDate 'DD/MMM/YY'}}</td>
                  <td class="issue-end">{{moment-format issue.endDate 'DD/MMM/YY'}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
          {{!-- /.table --}}
        </div>

      </div>
      {{!-- /.box-body --}}
      <div class="box-footer no-padding">
        <div class="list-controls">

          <span class="btn btn-default btn-sm checkbox-toggle" data-toggle="tooltip" title="{{t "global.list.selectAll"}}">
            <FormFields::FieldCheckbox @select={{action this.selectAll}} @data-select="all" @aclContext="App.Project.Issue.List.SelectAllIssues"/>
          </span>
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="{{t "global.form.delete"}}"><i class="fa fa-trash-o"></i></button>
            <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="{{t "global.form.share"}}"><i class="fa fa-share-alt"></i></button>
            <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="{{t "global.form.massupdate"}}"><i class="fa fa-pencil"></i></button>
            <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="{{t "global.form.discuss"}}"><i class="fa fa-comments-o"></i></button>
          </div>
          <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="{{t "global.form.refresh"}}" {{action "reloadPage"}}><i class="fa fa-refresh"></i></button>
          <div class="pull-right">
            <span class="list-view-count">{{t "views.app.issue.list.selectedCount" count=this.selectedCount}}</span>
            {{add (mult (sub this.page 1) 20) 1}}-{{add (mult (sub this.page 1) 20) this.model.length}} / {{add (mult (sub this.page 1) 20) this.model.length}}
            {{#if this.model.meta.links.next}}+{{/if}}
            <div class="btn-group">
              {{#if this.model.meta.links.prev}}
                <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="{{t "global.list.prevPage"}}" {{action "paginate" (get-page this.model.meta.links.prev.href)}}><i class="fa fa-chevron-left"></i></button>
              {{else}}
                <button type="button" class="btn btn-default btn-sm disabled" data-toggle="tooltip" title="{{t "global.list.prevPage"}}"><i class="fa fa-chevron-left"></i></button>
              {{/if}}
              {{#if this.model.meta.links.next}}
                <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="{{t "global.list.nextPage"}}" {{action "paginate" (get-page this.model.meta.links.next.href)}}><i class="fa fa-chevron-right"></i></button>
              {{else}}
                <button type="button" class="btn btn-default btn-sm disabled" data-toggle="tooltip" title="{{t "global.list.nextPage"}}"><i class="fa fa-chevron-right"></i></button>
              {{/if}}
            </div>
          </div>

        </div>
      </div>
    </div>
    {{!-- /. box --}}
  </div>
  {{!-- /.col --}}
</div>
