<div class="issue">
  <div class="row">
    {{#each model as |issue|}}
      {{!-- The first Column that contains the issue details,etc --}}
      <div class="col-md-8">

        {{!-- This are the issue details --}}
        <div class="box box-primary issue-details">
          <div class="box-header with-border">
            <h2 class="box-title">{{issue.issuetype.name}} - #{{issue.issueNumber}} | {{issue.subject}}</h2>
            <div class="box-tools pull-right">
              <span class="project-status"><span class="badge {{issue.status}}">{{t (concat "view.app.issue.lists.status." issue.status)}}</span></span>
              <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" {{action 'editIssue' issue.issueNumber}}><i class="fa fa-pencil"></i></button>
              <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title=""><i class="fa fa-gears"></i></button>
            </div>
          </div>

          <div class="box-body">

            <div class="row">
              <div class="col-xs-3 col-md-2">
                <div class="project-owner">
                  <img class="img-circle" src="http://projects4me/userimage/get/{{issue.assignedTo.id}}" alt="{{issue.assignedTo.name}}">
                  <a class="users-list-name" href="#">{{issue.assignedTo.name}}</a>
                  <span class="users-list-date">{{t "view.app.issue.detail.assignedTo"}}</span>
                </div>
              </div>
              <div class="col-xs-9 col-md-10">
                <h4>{{t "view.app.issue.detail.description"}}</h4>
                <p>
                  {{issue.description}}
                </p>
              </div>
            </div>

            <div class="row">

              <div class="col-xs-6 col-md-4">
                <h4>{{t "view.app.issue.detail.priority"}}</h4>
                <p>
                  {{t (concat "view.app.issue.lists.priority." issue.priority)}}
                </p>
              </div>

              <div class="col-xs-6 col-md-4">
                <h4>{{t "view.app.issue.detail.duration"}}</h4>
                <p>
                  {{moment-format issue.startDate 'Do MMM \'YY'}} - {{moment-format issue.endDate 'DD MMM \'YY'}}
                </p>
              </div>

              <div class="col-xs-6 col-md-4">
                <h4>{{t "view.app.issue.detail.type"}}</h4>
                <p>
                  {{issue.issuetype.name}}
                </p>
              </div>

              <div class="col-xs-6 col-md-4">
                <h4>{{t "view.app.issue.detail.milestone"}}</h4>
                <p>
                  {{issue.milestone.name}}
                </p>
              </div>

              <div class="col-xs-6 col-md-4">
                <h4>{{t "view.app.issue.detail.parent"}}</h4>
                <p>
                  {{issue.parentissue.issueNumber}} - {{issue.parentissue.subject}}
                </p>
              </div>

            </div>

          </div>
          {{!-- /.box-body --}}

          <div class="box-footer no-padding">
          </div>
        </div>
        {{!-- /.end project details --}}

        {{!-- This div contains the project conversations and milestones --}}
        <div class="row">

          {{!-- This is the project conversations --}}
          <div class="col-md-6">
            <div class="box box-info  project-conversations-section">
              <div class="box-header with-border">
                <h3 class="box-title">{{t "view.app.project.detail.conversations"}}</h3>

                <div class="box-tools pull-right">
                </div>

              </div>
              {{!-- /.box-header --}}
              <div class="box-body no-padding" style="display: block;">
                <ul class="project-conversations show-5">
                  {{#each issue.comments as |comment|}}
                    <li>
                      <div class="user-block">
                        <img class="img-circle" src="http://projects4me/userimage/get/{{comment.createdBy}}" alt="{{t "global.form.image"}}">
                        <span class="description">{{translate-comment comment.comment}}</span>
                      </div>
                    </li>
                  {{/each}}
                </ul>
                {{!-- /.users-list --}}
              </div>
              {{!-- /.box-body --}}
              <div class="box-footer text-center" style="display: block;">
                <a href="javascript:void(0)" class="uppercase" {{action "navigateToProjectPage" "conversation"}}>{{t "view.app.project.detail.viewallconversations"}}</a>
              </div>
              {{!-- /.box-footer --}}
            </div>
          </div>
          {{!-- end of project conversations --}}

          {{!-- These are the lastest 5 open issues in this project --}}
          <div class="col-md-6">
            <div class="box box-success open-issues-section">
              <div class="box-header with-border">
                <h3 class="box-title">{{t "view.app.project.detail.latestissues"}}</h3>

                <div class="box-tools pull-right">

                </div>

              </div>
              {{!-- /.box-header --}}
              <div class="box-body no-padding" style="display: block;">
                <ul class="open-issues show-5 clearfix">
                  {{#each issue.childissues as |issue|}}
                    <li>
                      <div class="issue-block">
                        <div class="priority">{{priority-icon issue.priority}}</div>
                        <div class="data-block">
                          <span class="subject">{{issue.issueNumber}} - {{issue.subject}}</span>
                          <span class="description">{{translate-comment issue.description}}</span>
                          <strong>{{t "view.app.issue.status"}}:</strong> <span class="badge {{issue.status}}">{{t (concat "view.app.issue.lists.status." issue.status)}}</span>
                        </div>
                      </div>
                    </li>
                  {{/each}}
                </ul>
                {{!-- /.users-list --}}
              </div>
              {{!-- /.box-body --}}
              <div class="box-footer text-center" style="display: block;">
                <a href="javascript:void(0)" class="uppercase">{{t "view.app.project.detail.viewallissues"}}</a>
              </div>
              {{!-- /.box-footer --}}
            </div>
          </div>
          {{!-- end of last 5 open projects --}}

        </div>


        <div class="row">

          {{!-- This is the project time estimated vs spent --}}
          <div class="col-md-12">
            <div class="box box-default project-estimated-spent-section">
              <div class="box-header with-border">
                <h3 class="box-title">{{t "view.app.project.detail.estimatedspent"}}</h3>

              </div>
              {{!-- /.box-header --}}
              <div class="box-body no-padding" style="display: block;">
                <ul class="project-estimated-spent">
                  {{chart-estimatedspent
                      issues=issuetime
                      height="100"
                  }}
                </ul>
                {{!-- /.users-list --}}
              </div>
              {{!-- /.box-body --}}
              <div class="box-footer text-center" style="display: block;">
                <a href="javascript:void(0)" class="uppercase">{{t "view.app.project.detail.viewallconversations"}}</a>
              </div>
              {{!-- /.box-footer --}}
            </div>
          </div>
          {{!-- end of project time estimated vs spent --}}

        </div>


        <div class="row">

          {{!-- This is the project activities section --}}
          <div class="col-md-12">
            <div class="box box-primary project-activities-section">
              <div class="box-header with-border">
                <h3 class="box-title">{{t "view.app.project.detail.projectactivities"}}</h3>
              </div>
              <div class="box-body no-padding" style="display: block;">
                <div class="project-activities">
                  {{time-line activities=activities}}
                </div>
              </div>
            </div>
          </div>
          {{!-- ./ end project activities section --}}

        </div>


      </div>
      {{!-- /.end col-md -8 --}}

      <div class="col-md-4">

        {{!-- Project Members --}}
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">{{t "view.app.project.detail.members"}}</h3>
            <div class="box-tools pull-right">
            </div>
          </div>
          {{!-- /.box-header --}}
          <div class="box-body no-padding" style="display: block;">
            <ul class="users-list clearfix">
              <li>
                <img src="http://projects4me/userimage/get/{{issue.assignedTo.id}}" alt="{{issue.assignedTo.name}}">
                <a class="users-list-name" href="#">{{issue.assignedTo.name}}</a>
                <span class="users-list-date">{{t "view.app.issue.detail.assignedTo"}}</span>
              </li>
              <li>
                <img src="http://projects4me/userimage/get/{{issue.ownedBy.id}}" alt="{{issue.ownedBy.name}}">
                <a class="users-list-name" href="#">{{issue.ownedBy.name}}</a>
                <span class="users-list-date">{{t "view.app.issue.detail.ownedBy"}}</span>
              </li>
              <li>
                <img src="http://projects4me/userimage/get/{{issue.modifiedBy.id}}" alt="{{issue.modifiedBy.name}}">
                <a class="users-list-name" href="#">{{issue.modifiedBy.name}}</a>
                <span class="users-list-date">{{t "view.app.issue.detail.modifiedBy"}}</span>
              </li>
              <li>
                <img src="http://projects4me/userimage/get/{{issue.reportedBy.id}}" alt="{{issue.reportedBy.name}}">
                <a class="users-list-name" href="#">{{issue.reportedBy.name}}</a>
                <span class="users-list-date">{{t "view.app.issue.detail.reportedBy"}}</span>
              </li>
            </ul>
            {{!-- /.users-list --}}
          </div>
          {{!-- /.box-body --}}
        </div>
        {{!-- /. Project Members --}}


        {{!-- Issue Files--}}
        <div class="box box-info issue-files-section">

          <div class="box-header with-border">

            <h3 class="box-title">{{t "view.app.issue.detail.files"}}</h3>

            <div class="box-tools pull-right">
            </div>

          </div>

          <div class="box-body no-padding" style="display: block;">

            <div class="box-footer">
              <ul class="attachments clearfix">
                {{#each issue.files as |file|}}
                  <li>
                    {{#if (not-eq file.fileThumbnail '0')}}
                      <span class="attachment-icon has-img">
                        <img src="{{file.fileThumbnail}}" alt="{{file.name}}" style="width: 198px; height: 132px;">
                      </span>
                    {{else}}
                      {{attachment-icon mime=(readonly file.fileMime)}}
                    {{/if}}
                    <div class="attachment-info">
                      <div class="attachment-name clearfix">
                        <a href="#" {{action "previewFile" file}}><i class="fa fa-paperclip"></i><span class="attachment-file-name">{{file.name}}</span></a>
                      </div>
                      <div class="attachment-additional">
                        <span class="attachment-size">
                          {{file-size file.fileSize}}
                          <a href="#" {{action 'deleteFile' file}} class="btn btn-default btn-xs pull-right"><i class="fa fa-trash-o"></i></a>
                          <a href="#" {{action 'downloadFile' file}} class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                        </span>
                      </div>
                    </div>
                  </li>
                {{/each}}
              </ul>
              <div class="filePreviewModal">
                {{#if filePreviewDialog}}
                  {{#bootstrap-modal
                      title="view.app.issue.detail.file.preview"
                      closeLabel="global.form.close"
                      close="removeModal"}}
                    <iframe id="file_preview"></iframe>
                  {{/bootstrap-modal}}
                {{/if}}
              </div>

            </div>
            {{field-upload
                label=(t "view.app.issue.detail.selectfile")
                uploadFile=(action "uploadFile")
            }}

          </div>
        </div>
        {{!-- Issue Files --}}


        {{!-- Issue Timelogs --}}
        <div class="box box-danger">
          <div class="box-header with-border">
            <h3 class="box-title">{{t "view.app.issue.detail.timelogs"}}</h3>
          </div>
          <div class="box-body no-padding" style="display: block;">

            <ul class="time-log time-log-in-box products-list product-list-in-box">
              {{#if (gt issue.spent.length 0)}}
                {{#each issue.spent as |timelog|}}
                  <li class="item">
                    <div class="user-img" data-toggle="tooltip" title="{{timelog.createdUserName}}">
                      <img class="img-circle" src="http://projects4me/userimage/get/{{timelog.createdUser}}" alt="{{timelog.createdUserName}}">
                    </div>
                    <div class="log-info">
                      <a href="javascript:void(0);" class="user-title">{{timelog.createdUserName}}</a>
                      <span>{{t "view.app.issue.detail.timelog.on"}}<strong>{{moment-format timelog.spentOn 'MMM Do `YY' 'YYYY-MM-DD 00:00:00'}}</strong></span>
                      <span class="log-edit pull-right" data-toggle="tooltip" title="{{t "global.form.edit"}}">
                        <a href="javascript:void(0);" {{action "showEditLogDialog" timelog}}><i class="fa fa-pencil"></i></a>
                      </span>
                      <span class="log-entry pull-right">
                        {{#if (gt timelog.days 0)}}{{timelog.days}}{{t "view.app.issue.detail.timelog.d"}}{{/if}}
                        {{#if (gt timelog.hours 0)}}{{timelog.hours}}{{t "view.app.issue.detail.timelog.h"}}{{/if}}
                        {{#if (gt timelog.minutes 0)}}{{timelog.minutes}}{{t "view.app.issue.detail.timelog.m"}}{{/if}}
                      </span>
                      <span class="log-description">
                        {{timelog.description}}
                      </span>
                    </div>
                  </li>
                {{/each}}
              {{else}}
                <li class="no-entry">{{t "view.app.issue.detail.timelog.noentry"}}</li>
              {{/if}}
            </ul>

            {{#if editLogDialog}}
              {{#bootstrap-modal
                  title="view.app.issue.detail.timelog.edit"
                  closeLabel="global.form.close"
                  confirmLabel="global.form.save"
                  close="removeEditLogModal"
                  confirm=(action "editLog")}}

                {{interval-selector
                    days=editingLog.days
                    hours=editingLog.hours
                    minutes=editingLog.minutes}}

                {{field-date
                    placeholder=(t "view.app.issue.detail.timelog.iputspenton")
                    label=(t "view.app.issue.detail.timelog.spenton")
                    value=editingLog.spentOn
                    mask="alphanumeric"
                }}

                {{field-textarea
                    placeholder=(t "view.app.issue.detail.timelog.iputdescription")
                    label=(t "view.app.issue.detail.timelog.description")
                    value=editingLog.description
                }}

              {{/bootstrap-modal}}
            {{/if}}


            {{#if logTimeDialog}}
              {{#bootstrap-modal
                  title="view.app.issue.detail.timelog.log"
                  closeLabel="global.form.close"
                  confirmLabel="global.form.save"
                  close="removeLogTimeModal"
                  confirm=(action "logTime")}}

                {{interval-selector
                    days=newTimeLog.days
                    hours=newTimeLog.hours
                    minutes=newTimeLog.minutes}}

                {{field-date
                    placeholder=(t "view.app.issue.detail.timelog.iputspenton")
                    label=(t "view.app.issue.detail.timelog.spenton")
                    value=newTimeLog.spentOn
                    mask="alphanumeric"
                }}

                {{field-textarea
                    placeholder=(t "view.app.issue.detail.timelog.iputdescription")
                    label=(t "view.app.issue.detail.timelog.description")
                    value=newTimeLog.description
                }}

              {{/bootstrap-modal}}
            {{/if}}
          </div>

          <div class="box-footer text-center" style="display: block;">
            <span>
              <a href="javascript:void();" {{action "showLogTimeDialog"}}><ion class="ion-android-stopwatch"></ion> {{t "view.app.issue.detail.timelog.log"}}</a>
            </span>
          </div>
          {{!-- /.box-footer --}}
        </div>

        {{!-- This is the project summary --}}
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">{{t "view.app.project.detail.summary"}}</h3>
          </div>
          <div class="box-body no-padding" style="display: block;">

            <div class="info-box">
              <span class="info-box-icon bg-aqua"><i class="fa fa-users"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">{{t "view.app.project.detail.teamsize"}}</span>
                <span class="info-box-number">{{issue.members.length}}</span>
              </div>
            </div>

            <div class="info-box">
              <span class="info-box-icon bg-aqua"><i class="fa fa-tasks"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">{{t "view.app.project.detail.openissues"}}</span>
                <span class="info-box-number">{{get-issuecount issuetime "open"}}</span>
              </div>
            </div>

            <div class="info-box">
              <span class="info-box-icon bg-aqua"><i class="fa fa-tasks"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">{{t "view.app.project.detail.closedissues"}}</span>
                <span class="info-box-number">{{get-issuecount issuetime "closed"}}</span>
              </div>
            </div>

            <div class="info-box">
              <span class="info-box-icon bg-aqua"><i class="ion ion-ios-timer-outline"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">{{t "view.app.project.detail.estimatedtime"}}</span>
                <span class="info-box-number">{{get-timelog issuetime "estimated"}}</span>
              </div>
            </div>

            <div class="info-box">
              <span class="info-box-icon bg-aqua"><i class="ion ion-ios-timer"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">{{t "view.app.project.detail.spenttime"}}</span>
                <span class="info-box-number">{{get-timelog issuetime "spent"}}</span>
              </div>
            </div>

          </div>
        </div>
        {{!-- Project Summary --}}

      </div>
      {{!-- /.end col-md -4 --}}
    {{/each}}
  </div>
  {{!-- /.end row --}}
</div>
{{!-- /.end project --}}
