<AppUi::ToastUi
    @usersList={{@usersList}}
    @issueSearch={{@issueSearch}}
    @editType= 'wysiwyg'
    @hide={{array 'toolbar' 'footer'}}
    @onContentChange={{this.setContent}}
    @placeholder={{@placeholder}}
/>
<div class="pull-right">
  <AppUi::Button type="button" class="btn btn-primary" {{action @save @entity this.comment}}>{{t "views.app.conversation.post"}}</AppUi::Button>
</div>