<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 role-details">
  <div class="field-group">
    <FormFields::FieldText @placeholder={{t "views.app.role.create.nameplaceholder" }}
      @label={{t "views.app.role.create.name" }} @value={{this.model.name}} @data-field="role.name" @validate={{action
      this.validateField "roleCreate" (hash name="name" value=this.model.name)}}
      @message={{this.message.roleCreate.name}} @allowInlineEdit={{true}} @onBlur={{fn this.editRole 'name' }}
      @reset={{fn this.resetModelAttributes this.model}} @save={{fn this.editRole 'name' }} />

    <FormFields::FieldTextArea @placeholder={{t "views.app.role.create.descriptionplaceholder" }}
      @label={{t "views.app.role.create.description" }} @value={{this.model.description}} @data-field="role.description"
      @validate={{action this.validateField "roleCreate" (hash name="description" value=this.model.description)}}
      @message={{this.message.roleCreate.description}} @allowInlineEdit={{true}} @onBlur={{fn
      this.editRole 'description' }} @reset={{fn this.resetModelAttributes this.model}} @save={{fn
      this.editRole 'description' }} />
  </div>

  {{!-- Permissions and Users tab --}}
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      {{!-- Permissions tab --}}
      <li class="active"><a href="#permissions" data-toggle="tab">{{t "views.app.role.tabs.permission.title"}}</a></li>

      {{!-- Users tab --}}
      <li><a href="#users" data-toggle="tab">{{t "views.app.role.tabs.user.title"}}</a></li>
    </ul>

    <div class="tab-content">

      {{!-- Role Permissions --}}
      <div class="tab-pane active" id="permissions">

        {{!-- Accordion --}}
        <div class="box-body">
          <div class="panel-group" id="accordion">

            {{#each-in this.permissions as |name permissions|}}
              <Role::ModulePermissions
                @name={{name}}
                @permissions={{permissions}}
                @setPermissions={{this.setPermissions}}
                @modulePermissions={{this.modulePermissions}}
                @permissionsState={{this.permissionsState}}
                @permissionFlags={{this.permissionFlags}}
                @updatePermission={{this.updatePermission}}
                @getChangedPermissions={{this.getChangedPermissions}}
              />
            {{/each-in}}

          </div>
        </div>

      </div>
      {{!-- Users to which this role is assigned --}}
      <div class="tab-pane" id="users">

        <div data-role="user-membership-actions">
          {{!-- User Search component --}}
          <FormFields::FieldSearch
            @placeholder={{t "views.app.role.tabs.user.search"}}
            @data-module={{concat "role-" this.model.name}}
            @data-search="user"
            @aclContext="App.Role.SearchUser"
            @value={{this.userSearchQuery}}
          />

          <AppUi::Button data-btn="create-membership" type="button" class="btn btn-primary" {{action this.showAddMembershipDialog}} @aclContext="App.Role.User.Membership.Create">
            {{t "views.app.role.tabs.user.createMembership"}}
          </AppUi::Button>
        </div>

        {{!-- Modal for creating new memberships for the user against project --}}
        {{#if this.addMembershipDialog}}
          {{#bootstrap-modal
            title="views.app.role.tabs.user.membership.title"
            confirmLabel="global.form.save"
            closeLabel="global.form.cancel"
            confirm=(action "addMembership")
            close=(action "removeModal")
          }}
          <div class="box-body">
            <FormFields::FieldRelate
              @searchEnabled={{true}}
              @searchField="label"
              @placeholder={{t "views.app.role.tabs.user.membership.selectuser"}}
              @label={{t "views.app.role.tabs.user.membership.user"}}
              @value={{this.newMembership.userId}}
              @data-field="membership.user"
              @options={{this.usersList}}
              @onchange={{action "selectRelated" this.newMembership 'userId'}}
              @selected={{find-by "value" this.newMembership.userId this.usersList}}              
              @relateType="relate-user"
              @validate={{action this.validateField "membershipCreate" (hash name="userId" value=this.newMembership.userId model=this.newMembership)}}
              @message={{this.message.membershipCreate.userId}}
              @aclContext="App.Role.Membership.Create.User"
            />

            <FormFields::FieldRelate
              @searchEnabled={{true}}
              @searchField="label"            
              @placeholder={{t "views.app.role.tabs.user.membership.selectrelatedto"}}
              @label={{t "views.app.role.tabs.user.membership.relatedTo.title"}}
              @value={{this.newMembership.relatedTo}}
              @data-field="membership.relatedTo"
              @options={{this.relatedToList}}
              @selected={{find-by "value" this.newMembership.relatedTo this.relatedToList}}
              @onchange={{action "selectRelated" this.newMembership 'relatedTo'}}
              @relateType="relate-simple"
              @validate={{action this.validateField "membershipCreate" (hash name="relatedTo" value=this.newMembership.relatedTo model=this.newMembership)}}              
              @message={{this.message.membershipCreate.relatedTo}}
              @aclContext="App.Role.Membership.Create.RelatedTo"
            />            

            {{#if (eq this.newMembership.relatedTo 'project')}}
              <FormFields::FieldRelateMulti
                @searchEnabled={{true}}
                @searchField="label"
                @selected={{this.selectedProjects}}     
                @placeholder={{t "views.app.role.tabs.user.membership.selectprojects"}}
                @label={{t "views.app.role.tabs.user.membership.projects"}}
                @data-field="membership.project"
                @options={{this.projectsList}}
                @onchange={{action "selectStatic" this 'selectedProjects'}}
                @relateType="relate-simple"
                @validate={{action this.validateField "membershipCreate" (hash name="hasProjects" value=this.newMembership.hasProjects model=this.newMembership)}}              
                @message={{this.message.membershipCreate.hasProjects}}
                @aclContext="App.Role.Membership.Create.Project"
              />
            {{/if}}
          </div>
          {{/bootstrap-modal}}
        {{/if}}        

        <div data-role="user-memberships">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>{{t "views.app.role.tabs.user.name"}}</th>
                <th>{{t "views.app.role.tabs.user.emailaddress"}}</th>
                <th>{{t "views.app.role.tabs.user.project.title"}}</th>
                <th>{{t "views.app.role.tabs.user.project.shortcode"}}</th>
              </tr>
            </thead>
            <tbody>
              {{#each this.filteredMemberships as |membership|}}
              <tr data-role-membership-id={{membership.id}}>
                <td>{{membership.user.name}}</td>
                <td>{{membership.user.email}}</td>
                <td>{{membership.project.name}}</td>
                <td>{{membership.project.shortCode}}</td>
                <td>
                  <AppUi::Button data-btn="delete" type="button" class="btn btn-box-tool" {{action this.deleteMembership membership}} @aclContext="App.Role.User.Delete">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </AppUi::Button>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>
</div>