<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 role-details">
  <div class="field-group">
    <FormFields::FieldText @placeholder={{t "views.app.role.create.nameplaceholder" }}
      @label={{t "views.app.role.create.name" }} @value={{this.model.name}} @data-field="role.name" @validate={{action
      this.validateField "roleCreate" (hash name="name" value=this.model.name)}}
      @message={{this.message.roleCreate.name}} @allowInlineEdit={{true}} @onBlur={{fn this.editRole 'name' }}
      @reset={{fn this.resetModelAttributes this.model}} @save={{fn this.editRole 'name' }} />

    <FormFields::FieldTextArea @placeholder={{t "views.app.role.create.descriptionplaceholder" }}
      @label={{t "views.app.role.create.description" }} @value={{this.model.description}} @data-field="role.description"
      @validate={{action this.validateField "roleCreate" (hash name="description" value=this.model.description)}}
      @message={{this.message.roleCreate.description}} @allowInlineEdit={{true}} @onBlur={{fn
      this.editRole 'description' }} @reset={{fn this.resetModelAttributes this.model}} @save={{fn
      this.editRole 'description' }} />
  </div>

  {{!-- Permissions and Users tab --}}
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      {{!-- Permissions tab --}}
      <li class="active"><a href="#permissions" data-toggle="tab">{{t "views.app.role.tabs.permission.title"}}</a></li>

      {{!-- Users tab --}}
      <li><a href="#users" data-toggle="tab">{{t "views.app.role.tabs.user.title"}}</a></li>
    </ul>

    <div class="tab-content">

      {{!-- Role Permissions --}}
      <div class="tab-pane active" id="permissions">

        {{!-- Accordion --}}
        <div class="box-body">
          <div class="panel-group" id="accordion">

            {{#each-in this.permissions as |name permissions|}}
            <div class="panel panel-default" data-permission-module={{name}}>
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href={{concat "#" name}} {{on "click" (fn
                    this.setPermissions name)}}>{{name}}</a>
                </h4>
              </div>
              <div id={{name}} class="panel-collapse collapse">

                <div class="table-responsive">
                  <table class="table table-hover table-striped">
                    <thead>
                      <tr>
                        <th></th>
                        <th>{{t "views.app.role.tabs.permission.flags.read"}}</th>
                        <th>{{t "views.app.role.tabs.permission.flags.create"}}</th>
                        <th>{{t "views.app.role.tabs.permission.flags.update"}}</th>
                        <th>{{t "views.app.role.tabs.permission.flags.delete"}}</th>
                        <th>{{t "views.app.role.tabs.permission.flags.import"}}</th>
                        <th>{{t "views.app.role.tabs.permission.flags.export"}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each this.modulePermissions as |permission|}}
                      <tr data-module-resource={{permission.resourceName}}>
                        <td>{{permission.resourceAlias}}</td>
                        {{#each this.permissionFlags as |flag|}}
                        <td>
                          <Role::PermissionOptions 
                            @options={{get-permission-options 'apiOptions' permission flag}}
                            @value={{get permission flag}}
                            @permission={{permission}}
                            @flag={{flag}}
                          />
                        </td>
                        {{/each}}
                        
                        {{!-- Permission Update State --}}
                        <td>
                          <span data-module="permission-state">

                            {{!-- If condition in concat required because the permissions states are maintained in object as of the
                            following structure e.g.
                            Issue 
                              Issue (Model)
                              Subject (field)

                            And the resourceName property has the format of Issue.field or Issue.relationship. So what if the 
                            the resourceName is "Issue" and I have to access Issue >> Issue, so for that purpose we have to add
                            moduleName infront of resourceName to make get helper access of "Issue.Issue" property. --}}
                            {{#if (get this.permissionsState (concat (if (eq permission.resourceName
                            permission.moduleName) (concat permission.moduleName '.')) permission.resourceName
                            '.isRunning'))}}
                              <i class="fa fa-spinner fa-spin"></i>
                            {{/if}}

                            {{#if (get this.permissionsState (concat (if (eq permission.resourceName
                            permission.moduleName) (concat permission.moduleName '.')) permission.resourceName
                            '.isSuccessful'))}}
                              <i class="fa fa-check-circle"></i>
                            {{/if}}

                            {{#if (get this.permissionsState (concat (if (eq permission.resourceName
                            permission.moduleName) (concat permission.moduleName '.')) permission.resourceName
                            '.isErrored'))}}
                              <i class="fa fa-times-circle"></i>
                            {{/if}}                             
                                      
                          </span>
                        </td>                        
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>

                <AppUi::Button type="button" data-btn="save" class="btn btn-primary" {{on "click" (fn this.updatePermission.perform name)}}>{{t "global.form.save"}}</AppUi::Button>
                <AppUi::Button type="button" data-btn="cancel" class="btn btn-default" {{action "cancel"}}>{{t "global.form.cancel"}}</AppUi::Button>
              </div>
            </div>
            {{/each-in}}

          </div>
        </div>

      </div>
      {{!-- Users to which this role is assigned --}}
      <div class="tab-pane" id="users">

        <div data-role="user-membership-actions">
          {{!-- User Search component --}}
          <FormFields::FieldSearch
            @placeholder={{t "views.app.role.tabs.user.search"}}
            @data-module={{concat "role-" this.model.name}}
            @data-search="user"
            @aclContext="App.Role.SearchUser"
            @value={{this.userSearchQuery}}
          />

          <AppUi::Button data-btn="create-membership" type="button" class="btn btn-primary" {{action this.showAddMembershipDialog}} @aclContext="App.Role.User.Membership.Create">
            {{t "views.app.role.tabs.user.createMembership"}}
          </AppUi::Button>
        </div>

        {{!-- Modal for creating new memberships for the user against project --}}
        {{#if this.addMembershipDialog}}
          {{#bootstrap-modal
            title="views.app.role.tabs.user.membership.title"
            confirmLabel="global.form.save"
            closeLabel="global.form.cancel"
            confirm=(action "addMembership")
            close=(action "removeModal")
          }}
          <div class="box-body">
            <FormFields::FieldRelate
              @searchEnabled={{true}}
              @searchField="label"
              @placeholder={{t "views.app.role.tabs.user.membership.selectuser"}}
              @label={{t "views.app.role.tabs.user.membership.user"}}
              @value={{this.newMembership.userId}}
              @data-field="membership.user"
              @options={{this.usersList}}
              @onchange={{action "selectRelated" this.newMembership 'userId'}}
              @selected={{find-by "value" this.newMembership.userId this.usersList}}              
              @relateType="relate-user"
              @validate={{action this.validateField "membershipCreate" (hash name="userId" value=this.newMembership.userId model=this.newMembership)}}
              @message={{this.message.membershipCreate.userId}}
              @aclContext="App.Role.Membership.Create.User"
            />

            <FormFields::FieldRelate
              @searchEnabled={{true}}
              @searchField="label"            
              @placeholder={{t "views.app.role.tabs.user.membership.selectrelatedto"}}
              @label={{t "views.app.role.tabs.user.membership.relatedTo.title"}}
              @value={{this.newMembership.relatedTo}}
              @data-field="membership.relatedTo"
              @options={{this.relatedToList}}
              @selected={{find-by "value" this.newMembership.relatedTo this.relatedToList}}
              @onchange={{action "selectRelated" this.newMembership 'relatedTo'}}
              @relateType="relate-simple"
              @validate={{action this.validateField "membershipCreate" (hash name="relatedTo" value=this.newMembership.relatedTo model=this.newMembership)}}              
              @message={{this.message.membershipCreate.relatedTo}}
              @aclContext="App.Role.Membership.Create.RelatedTo"
            />            

            {{#if (eq this.newMembership.relatedTo 'project')}}
              <FormFields::FieldRelateMulti
                @searchEnabled={{true}}
                @searchField="label"
                @selected={{this.selectedProjects}}     
                @placeholder={{t "views.app.role.tabs.user.membership.selectprojects"}}
                @label={{t "views.app.role.tabs.user.membership.projects"}}
                @data-field="membership.project"
                @options={{this.projectsList}}
                @onchange={{action "selectStatic" this 'selectedProjects'}}
                @relateType="relate-simple"
                @validate={{action this.validateField "membershipCreate" (hash name="hasProjects" value=this.newMembership.hasProjects model=this.newMembership)}}              
                @message={{this.message.membershipCreate.hasProjects}}
                @aclContext="App.Role.Membership.Create.Project"
              />
            {{/if}}
          </div>
          {{/bootstrap-modal}}
        {{/if}}        

        <div data-role="user-memberships">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>{{t "views.app.role.tabs.user.name"}}</th>
                <th>{{t "views.app.role.tabs.user.emailaddress"}}</th>
                <th>{{t "views.app.role.tabs.user.project.title"}}</th>
                <th>{{t "views.app.role.tabs.user.project.shortcode"}}</th>
              </tr>
            </thead>
            <tbody>
              {{#each this.filteredMemberships as |membership|}}
              <tr data-role-membership-id={{membership.id}}>
                <td>{{membership.user.name}}</td>
                <td>{{membership.user.email}}</td>
                <td>{{membership.project.name}}</td>
                <td>{{membership.project.shortCode}}</td>
                <td>
                  <AppUi::Button data-btn="delete" type="button" class="btn btn-box-tool" {{action this.deleteMembership membership}} @aclContext="App.Role.User.Delete">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </AppUi::Button>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>
</div>