<i class="fa fa-briefcase bg-green"></i>

<div class="timeline-item">
  <span class="time"><i class="fa fa-clock-o"></i> {{this.activity.createdSince}} {{t "global.ago"}}</span>
  <h3 class="timeline-header">
    <a href="javascript:void(0);">{{this.activity.createdUserName}}</a>
    {{t (concat "views.app.activity." this.activity.type)}}
    {{t (concat "global.module.singular." this.activity.relatedTo)}}
  </h3>
  <div class="timeline-body">
    {{this.activity.description}}
  </div>
</div>
