<i class="fa fa-briefcase bg-green"></i>

<div class="timeline-item">
  <span class="time"><i class="fa fa-clock-o"></i> {{activity.createdSince}} {{t "global.ago"}}</span>
  <h3 class="timeline-header"><a href="#">{{activity.createdBy.name}}</a> created the {{activity.relatedTo}}</h3>
  <div class="timeline-body">
    {{activity.description}}
  </div>
</div>
