<i class="fa fa-check bg-purple"></i>

<div class="timeline-item">
  <span class="time"><i class="fa fa-clock-o"></i> {{this.activity.createdSince}} {{t "global.ago"}}</span>
  <h3 class="timeline-header">
    <a href="#">{{this.activity.createdUserName}}</a>
    {{t (concat "views.app.activity.related." this.activity.relatedActivity)}}
    <a href="javascript:void(0);" {{action "openMilestone" this.activity.relatedActivityId}}>
      {{t (concat "global.module.singular." this.activity.relatedActivityModule)}}
    </a>
  </h3>
  <div class="timeline-body">
    {{safe-html this.activity.description}}
  </div>
</div>
