<i class="fa fa-exclamation-triangle bg-red"></i>

<div class="timeline-item">
  <span class="time"><i class="fa fa-clock-o"></i> {{activity.createdSince}} {{t "global.ago"}}</span>
  <h3 class="timeline-header">
    <a href="javascript:void(0);" {{action "openMilestone" activity.relatedActivityId}}>
      {{t (concat "global.module.singular." activity.relatedActivityModule)}}
    </a>
    {{t (concat "view.app.activity.related." activity.relatedActivity)}}
  </h3>
  <div class="timeline-body">
    {{activity.description}}
  </div>
</div>
