<i class="fa fa-pencil bg-orange"></i>

<div class="timeline-item">
  <span class="time"><i class="fa fa-clock-o"></i> {{activity.createdSince}} {{t "global.ago"}}</span>
  <h3 class="timeline-header">
    <a href="javascript:void(0);">{{activity.createdBy.name}}</a>
    {{t (concat "views.app.activity." activity.type)}}
    {{t (concat "global.module.singular." activity.relatedTo)}}
  </h3>
  <div class="timeline-body">
    {{activity.description}}
  </div>
</div>
