{{!-- Create template for checkbox field--}}
<label>{{t definition.label}}</label>
{{#if definition.required}}<span class="required">*</span>{{/if}}
{{#if definition.help}}<i data-toggle="tooltip" data-placement="top" title="{{t definition.help}}" class="fa fa-question-circle"></i>{{/if}}
<span class="hidden field-error">{{t definition.errorMsg}}</span>
<div style="clear:both" />
<span class="btn-group">
  {{checkbox-field action="changed" type="checkbox" readonly=definition.readonly name=definition.fieldName value=definition.fieldName}} {{t definition.label}}
</span>
