<div class="user-social-links">

  {{#if this.user.githubUrl}}
    <div data-social-name="github">
      <i class="fa fa-github fa-lg"></i>
      <a {{action "redirect" this.user.githubUrl}}>{{get-username 'github' this.user.githubUrl}}</a>
    </div>
  {{/if}}

  {{#if this.user.gitlabUrl}}
    <div data-social-name="gitlab">
      <i class="fa fa-gitlab" aria-hidden="true"></i>
      <a {{action "redirect" this.user.gitlabUrl}}>{{get-username 'gitlab' this.user.gitlabUrl}}</a>
    </div>
  {{/if}}

  {{#if this.user.skypeUrl}}
    <div data-social-name="skype">
      <i class="fa fa-skype fa-lg"></i>
      <a {{action "redirect" (concat "skype:" this.user.skypeUrl "?chat") }} >{{get-username 'skype' this.user.skypeUrl}}</a>
    </div>
  {{/if}}

  {{#if this.user.linkedinUrl}}
    <div data-social-name="linkedin">
      <i class="fa fa-linkedin fa-lg"></i>
      <a {{action "redirect" this.user.linkedinUrl}}>{{get-username 'linkedin' this.user.linkedinUrl}}</a>
    </div>
  {{/if}}

  {{#if this.user.slackUrl}}
    <div data-social-name="slack">
      <i class="fa fa-slack fa-lg"></i>
      <a {{action "redirect" (concat "https://slack.com/app_redirect?channel=" this.user.slackUrl)}} >@slack</a>
    </div>
  {{/if}}
  
</div>
