<div class="wiki-detail box box-primary">

  <div class="box-header with-border">
    <h3 class="box-title">{{t "views.app.wiki.create.new"}}</h3>
  </div>
  {{!-- /.box-header --}}
  <div class="box-body">
    <div class="form-group">
      
      <div class="form-field">
        {{field-text
            placeholder=(t "views.app.wiki.create.name")
            label=(t "views.app.wiki.create.name")
            value=model.name
            mask="alphanumeric"
            data-field="wiki.name"
            focus-out=(action (mut showNameError) true)
            v-focus=showNameError
            v-model=model
            v-field='name'
            v-output='message'
        }}
      </div>

      <div class="form-field">
        {{field-relate
            placeholder=(t "views.app.wiki.create.parent")
            label=(t "views.app.wiki.create.parent")
            value=model.parentId
            options=wikiList
            selected=(find-by "value" model.parentId wikiList)
            searchField="label"
            onchange=(action "selectRelated" model 'parentId')
            relateType="relate-simple"
            data-field="wiki.parent"
            focus-out=(action (mut showParentError) true)
            v-focus=showParentError
            v-model=model
            v-field='parentId'
            v-output='message'
        }}
      </div>

      <div data-field="wiki.description" class="form-field">
        <AppUi::ToastUi
            @usersList={{membersList}}
            @issueSearch={{perform this.search}}
            @contents={{readonly markUp}}
            @editType= 'wysiwyg'
            @hide={{array 'footer'}}
            @onContentChange={{action "selectStatic" model 'markUp'}}              
        />
      </div>
      
    </div>
  </div>

  <div class="box-footer">
    <button type="button" class="btn btn-primary" {{action "save"}}>{{t "global.form.save"}}</button>
    <button type="button" class="btn btn-default" {{action "cancel"}}>{{t "global.form.cancel"}}</button>
  </div>
</div>