<div class="wiki-detail box box-primary">
  {{#if model}}
    {{#each model as |wiki|}}

      {{#if (eq wiki.locked "0")}}
        <div class="box-header with-border">
          <h3 class="box-title">{{t "views.app.wiki.page.edit" page=wiki.name}}</h3>
        </div>
        {{!-- /.box-header --}}
        <div class="box-body">
          <div class="form-group">
            {{input value=wiki.name placeholder=(t "views.app.wiki.create.name") key-up="changed" class="form-control"}}
          </div>
          <div class="form-group">
            {{#power-select
                options=wikiList
                selected=(find-by "value" parentId wikiList)
                placeholder=(t "views.app.wiki.create.parent")
                searchField="label"
                onchange=(action "wikiChanged")
            as |wiki|}}
              {{wiki.label}}
            {{/power-select}}
          </div>
          <div class="form-group">
            {{summer-note
                usersList=usersList
                issuesList=issuesList
                contents=(readonly wiki.markUp)
                onContentChange=(action 'onContentChange')
            }}
          </div>

          {{!--div class="form-group">
            <div class="btn btn-default btn-file">
              <i class="fa fa-paperclip"></i> Attachment
              <input type="file" name="attachment">
            </div>
            <p class="help-block">Max. 32MB</p>
          </div--}}

        </div>

        {{!-- /.box-body --}}

        <div class="box-footer">
          <button type="button" class="btn btn-primary" disabled="{{saveDisabled}}" {{action "save"}}>{{t "global.form.save"}}</button>
          <button type="button" class="btn btn-default" {{action "cancel"}}>{{t "global.form.cancel"}}</button>

          <div class="pull-right wiki-tags">
            {{t "views.app.wiki.tags"}}<span class="colon"></span>

            {{#power-select-multiple
                options=tagList
                selected=selectedTags
                placeholder=(t "views.app.wiki.selecttags")
                searchField="label"
                onchange=(action "tagSelected")
            as |tag|}}
              {{tag.label}}
            {{/power-select-multiple}}

            <button type="button" class="btn btn-primary" {{action "showDialog"}}>{{t "views.app.wiki.tag.add"}}</button>
            {{#if addTagDialog}}
              {{#bootstrap-modal
                  title="views.app.wiki.tag.create"
                  confirmLabel="global.form.save"
                  closeLabel="global.form.cancel"
                  confirm=(action "addTag")
                  close="removeModal"}}
                <form {{action 'addTag' on='submit'}}>
                  <div class="form-group">
                    <label>{{t "views.app.wiki.edit.name"}}</label>
                    {{input class="form-control" autofocus=true value=tagName onChange=(action (mut tagName))}}
                  </div>
                </form>
              {{/bootstrap-modal}}
            {{/if}}
          </div>
        </div>
      {{else}}
        <div class="wiki-page-islocked">
          <div class="callout callout-danger">
            <h4>
              <i class="fa fa-lock"></i> {{t "views.app.wiki.page.lockedhead"}}
            </h4>
            {{t "views.app.wiki.page.islocked"}}
          </div>
        </div>
      {{/if}}
    {{/each}}
  {{else}}
    <div class="wiki-page-empty">

      <div class="callout callout-danger">
        <h4>
          <i class="fa fa-exclamation-triangle"></i> {{t "views.app.wiki.notfound"}}
        </h4>
        {{t "views.app.wiki.page.empty"}}
      </div>
    </div>
  {{/if}}
</div>