<div class="wiki-detail box box-primary">
  {{#if this.model}}
    {{#if (eq this.model.locked "0")}}
      <div class="box-header with-border">
        <h3 class="box-title">{{t "views.app.wiki.page.edit" page=this.model.name}}</h3>
      </div>
      {{!-- /.box-header --}}
      <div class="box-body">
        <div class="form-group">
          <FormFields::FieldText
              @placeholder={{t "views.app.wiki.create.name"}}
              @label={{t "views.app.wiki.create.name"}}
              @value={{this.model.name}}
              @mask="alphanumeric"
              @data-field="wiki.name"
              @validate={{action this.validateField "wikiSchema" (hash name="name" value=this.model.name)}}
              @message={{this.message.name}}
          />
        </div>

        <div class="form-group">
          <FormFields::FieldRelate
              @placeholder={{t "views.app.wiki.create.parent"}}
              @label={{t "views.app.wiki.create.parent"}}
              @value={{this.model.parentId}}
              @options={{this.wikiList}}
              @selected={{find-by "value" this.model.parentId this.wikiList}}
              @searchField="label"
              @onchange={{action "selectRelated" this.model 'parentId'}}
              @relateType="relate-simple"
              @data-field="wiki.parent"
              @validate={{action this.validateField "wikiSchema" (hash name="name" value=this.model.name)}}
              @message={{this.message.name}}
          />
        </div>

        <div class="form-group">
          <AppUi::ToastUi
              @usersList={{this.membersList}}
              @issueSearch={{perform this.search}}
              @contents={{readonly this.markUp}}
              @editType= 'wysiwyg'
              @hide={{array 'footer'}}
              @onContentChange={{action "selectStatic" this.model 'markUp'}}              
          />
        </div>

      </div>

      <div class="box-footer">
        <button type="button" class="btn btn-primary" {{action "save"}}>{{t "global.form.save"}}</button>
        <button type="button" class="btn btn-default" {{action "cancel"}}>{{t "global.form.cancel"}}</button>

        <div class="pull-right wiki-tags">
          {{t "views.app.wiki.tags"}}<span class="colon"></span>

          <FormFields::FieldRelateMulti
              @options={{this.tagList}}
              @selected={{this.selectedTags}}
              @placeholder={{t "views.app.wiki.selecttags"}}
              @searchField="label"
              @onchange={{action "tagSelected"}}
              @relateType="relate-simple"
          />

          <button type="button" class="btn btn-primary" {{action "showDialog"}}>{{t "views.app.wiki.tag.add"}}</button>
          {{#if this.addTagDialog}}
            {{#bootstrap-modal
                title="views.app.wiki.tag.create"
                confirmLabel="global.form.save"
                closeLabel="global.form.cancel"
                confirm=(action "addTag")
                close=(action "removeModal")}}
              <div class="form-group">
                <FormFields::FieldText
                    placeholder={{t "views.app.wiki.edit.name"}}
                    label={{t "views.app.wiki.edit.name"}}
                    value={{this.newTag.tag}}
                    mask="alphanumeric"
                    data-field="tag.tag"
                    focus-out={{action (mut this.showTagNameError) true}}
                    v-focus={{this.showTagNameError}}
                    v-model={{this.newTag}}
                    v-field='tag'
                    v-output='message'
                />
              </div>
            {{/bootstrap-modal}}
          {{/if}}
        </div>
      </div>
    {{else}}
      <div class="wiki-page-islocked">
        <div class="callout callout-danger">
          <h4>
            <i class="fa fa-lock"></i> {{t "views.app.wiki.page.lockedhead"}}
          </h4>
          {{t "views.app.wiki.page.islocked"}}
        </div>
      </div>
    {{/if}}
  {{else}}
    <div class="wiki-page-empty">

      <div class="callout callout-danger">
        <h4>
          <i class="fa fa-exclamation-triangle"></i> {{t "views.app.wiki.notfound"}}
        </h4>
        {{t "views.app.wiki.page.empty"}}
      </div>
    </div>
  {{/if}}
</div>