{{#if model}}
  {{#each model as |wiki|}}

    <div class="box-header with-border">
      {{#if wiki.locked}}<i class="fa fa-unlock"></i>{{else}}<i class="fa fa-lock"></i>{{/if}}
      <h2 class="box-title">{{wiki.name}} - </h2>
      {{#if wiki.parentId}}
        {{#if wikiList}}
          <a href="javascript:void(0);" {{action "loadWiki" wiki.projectId (getWiki wiki wikiList)}}>{{getWiki wiki wikiList}}</a>
        {{/if}}
      {{/if}}
      <span class="path-seperator"></span> {{wiki.name}}
      <span class="upvotes">
        {{wiki.vote.length}}
        {{#if iVoted}}
          <i class="fa fa-heart" data-toggle="tooltip" title="{{t "view.app.wiki.voted"}}" ></i>
        {{else}}
          <i class="fa fa-heart-o" data-toggle="tooltip" title="{{t "view.app.wiki.upvote"}}" {{action "upvote" wiki.id}}></i>
        {{/if}}
      </span>
      <div class="box-tools pull-right">

      </div>

    </div>
    <!-- /.box-header -->

    <div class="box-body">

      <div class="wiki-page-contents ql-container ql-snow">
        <div class="ql-editor wiki-default-page">
          {{{wiki.markUp}}}
        </div>
      </div>
      <!--div class="form-group">
        <div class="btn btn-default btn-file">
          <i class="fa fa-paperclip"></i> Attachment
          <input type="file" name="attachment">
        </div>
        <p class="help-block">Max. 32MB</p>
      </div-->

    </div>

    <!-- /.box-body -->

    <div class="box-footer">
      <button type="button" class="btn btn-primary" {{action "edit"}}><i class="fa fa-pencil"></i> {{t "global.form.edit"}}</button>
      <button type="button" class="btn btn-default" {{action "delete"}}><i class="fa fa-trash"></i> {{t "global.form.delete"}}</button>

      <div class="pull-right">
        {{t "view.app.wiki.tags"}}<span class="colon"></span>
        {{#if wiki.tagged}}
          {{#each wiki.tagged as |tags|}}
            <span class="label label-primary"><i class="fa fa-tag"></i> {{tags.tag}}</span>
          {{/each}}
        {{else}}
          <span class="disabled-text">{{t "global.noentry"}}</span>
        {{/if}}
      </div>

    </div>


  {{/each}}
{{/if}}
