{{#if model}}
  {{#each model as |wiki|}}

    <div class="box-header with-border">
      {{#if wiki.locked}}<i class="fa fa-unlock"></i>{{else}}<i class="fa fa-lock"></i>{{/if}}
      <h2 class="box-title">{{wiki.name}} - </h2>
      {{#if wiki.parentId}}
        {{#if wikilist}}
          <a href="javascript:void(0);" {{action "loadWiki" wiki.projectId (getWiki wiki wikilist)}}>{{getWiki wiki wikilist}}</a>
        {{/if}}
      {{/if}}
      <span class="path-seperator"></span> {{wiki.name}}

      <span class="upvotes">{{#if (ifMatch wiki.upvotes "0")}}<i class="fa fa-heart-o"></i>{{else}}{{wiki.upvotes}} <i class="fa fa-heart"></i>{{/if}}</span>
      <div class="box-tools pull-right">

      </div>

    </div>
    <!-- /.box-header -->

    <div class="box-body">

      <div class="wiki-page-contents ql-container ql-snow">
        <div class="ql-editor wiki-default-page">
          {{{wiki.markUp}}}
        </div>
      </div>
      <!--div class="form-group">
        <div class="btn btn-default btn-file">
          <i class="fa fa-paperclip"></i> Attachment
          <input type="file" name="attachment">
        </div>
        <p class="help-block">Max. 32MB</p>
      </div-->

    </div>

    <!-- /.box-body -->

    <div class="box-footer">
      <button type="button" class="btn btn-default" {{action "edit"}}><i class="fa fa-pencil"></i>{{t "global.form.edit"}}</button>
      <button type="button" class="btn btn-default" {{action "delete"}}><i class="fa fa-trash"></i>{{t "global.form.delete"}}</button>
    </div>

  {{/each}}
{{/if}}
