{{#if model}}
  <div class="wiki-detail box box-primary">
    <div class="box-header with-border">
      {{#if (eq model.createdUser currentUser.user.id)}}
        {{#if (eq model.locked "0")}}
          <a href="javascript:void(0);" {{action "lockWiki" "unlock"}}>
            <i class="fa fa-unlock lock" data-toggle="tooltip" title="{{t "views.app.wiki.lock"}}"></i>
          </a>
        {{else}}
          <a href="javascript:void(0);" {{action "lockWiki" "lock"}}>
            <i class="fa fa-lock lock" data-toggle="tooltip" title="{{t "views.app.wiki.unlock"}}"></i>
          </a>
        {{/if}}
      {{else}}
        {{#if (eq model.locked "0")}}<i class="fa fa-unlock disabled"></i>{{else}}<i class="fa fa-lock disabled"></i>{{/if}}
      {{/if}}
      <h2 class="box-title">{{model.name}} - </h2>
      {{#if model.parentId}}
        {{#if wikiList}}
          <a href="javascript:void(0);" {{action "loadWiki" model.projectId (get-wiki model wikiList)}}>{{get-wiki model wikiList}}</a>
        {{/if}}
      {{/if}}
      <span class="path-seperator"></span> {{model.name}}
      <span class="upvotes">
          {{model.vote.length}}
        {{#if iVoted}}
          <i class="fa fa-heart" data-toggle="tooltip" title="{{t "views.app.wiki.voted"}}" ></i>
        {{else}}
          <a href="javascript:void(0);" {{action "upvote" model.id}}>
              <i class="fa fa-heart-o" data-toggle="tooltip" title="{{t "views.app.wiki.upvote"}}"></i>
            </a>
        {{/if}}
        </span>
      <div class="box-tools pull-right">
        <span class="modified-by">{{t "global.form.modified" user=model.modifiedUserName date=(get-date model 'dateModified' 'MMM Do \'YY, h:mm a')}}</span>
      </div>

    </div>
    {{!-- /.box-header --}}

    <div class="box-body">

      <div class="wiki-page-contents ql-container ql-snow">
        <div class="note-editor wiki-default-page">
          {{safe-html model.markUp}}
        </div>
      </div>
    </div>

    {{!-- /.box-body --}}

    <div class="box-footer">
      {{#if (eq model.locked "0")}}
        <button type="button" class="btn btn-primary" {{action "edit"}}><i class="fa fa-pencil"></i> {{t "global.form.edit"}}</button>
        <button type="button" class="btn btn-default" {{action "delete"}}><i class="fa fa-trash"></i> {{t "global.form.delete"}}</button>
      {{/if}}

      <div class="pull-right">
        {{t "views.app.wiki.tags"}}<span class="colon"></span>
        {{#if model.tag}}
          {{#each model.tag as |tags|}}
            <span class="label label-primary"><i class="fa fa-tag"></i> {{tags.tag}}</span>
          {{/each}}
        {{else}}
          <span class="disabled-text">{{t "global.noentry"}}</span>
        {{/if}}
      </div>

    </div>
  </div>

  <div class="clearfix"></div>

  {{!-- Issue Files--}}
  <div class="box box-info wiki-files-section">

    <div class="box-header with-border">

      <h3 class="box-title">{{t "views.app.wiki.page.files"}}</h3>

      <div class="box-tools pull-right">
      </div>

    </div>

    <div class="box-body no-padding" style="display: block;">

      <div class="box-footer">
        <ul class="attachments clearfix">
          {{#each model.files as |file|}}
            <li>
              {{#if (not-eq file.fileThumbnail '0')}}
                <span class="attachment-icon has-img">
                    <img src="{{file.fileThumbnail}}" alt="{{file.name}}" style="width: 198px; height: 132px;">
                  </span>
              {{else}}
                {{attachment-icon mime=(readonly file.fileMime)}}
              {{/if}}
              <div class="attachment-info">
                <div class="attachment-name clearfix">
                  <a href="#" {{action "previewFile" file}}><i class="fa fa-paperclip"></i><span class="attachment-file-name">{{file.name}}</span></a>
                </div>
                <div class="attachment-additional">
                    <span class="attachment-size">
                      {{file-size file.fileSize}}
                      <a href="#" {{action 'deleteFile' file}} class="btn btn-default btn-xs pull-right"><i class="fa fa-trash-o"></i></a>
                      <a href="#" {{action 'downloadFile' file}} class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                    </span>
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
        <div class="filePreviewModal">
          {{#if filePreviewDialog}}
            {{#bootstrap-modal
                title="views.app.wiki.page.file.preview"
                closeLabel="global.form.close"
                close="removeModal"}}
              <iframe id="file_preview"></iframe>
            {{/bootstrap-modal}}
          {{/if}}
        </div>

      </div>
      {{field-upload
          label=(t "views.app.wiki.page.selectfile")
          uploadFile=(action "uploadFile")
      }}

    </div>
  </div>
{{else}}
  <div class="wiki-page-empty">

    <div class="callout callout-danger">
      <h4>
        <i class="fa fa-exclamation-triangle"></i> {{t "views.app.wiki.notfound"}}
      </h4>
      {{t "views.app.wiki.page.empty"}}
    </div>
  </div>

{{/if}}
