<section class="content">
  <div class="board row">

    <AppUi::TaskBoard
      @milestones={{this.milestoneList}}
      @statuses={{this.statuses}}
      @statusClass={{this.statusClass}}
      @backlog={{this.backlog}}
      @group="milestones"
      @scroll={{true}}
      @scrollSensitivity={{200}}
      @scrollSpeed = {{10}}
      @sort={{true}}
      @forceFallback={{true}}
      @disableSortable={{false}}
      @dragClass="curr-item"
      @chosenClass="curr-item"
      @updateIssue={{fn this.updateIssue}}
      @openIssue={{fn this.openIssue}}
    />

  </div>
</section>