<section class="content">
  <div class="board row">

    <AppUi::TaskBoard
      @milestones={{milestones}}
      @statuses={{statuses}}
      @statusClass={{statusClass}}
      @backlog={{this.backlog}}
      @group="milestones"
      @scroll={{true}}
      @scrollSensitivity={{200}}
      @scrollSpeed = {{10}}
      @sort={{true}}
      @forceFallback={{true}}
      @disableSortable={{false}}
      @dragClass="curr-item"
      @chosenClass="curr-item"
    />

  </div>
</section>