<section class="content">
  <div class="conversations">

    <div class="row">
      <div class="col-sm-12">

        <div class="masonry masonry-columns">

          {{!-- Sections that lets us create a new conversation --}}
          <div class="masonry-item">
            <div class="box box-widget">

              <div class="box-start">
                <img class="img-responsive img-circle img-sm" src="{{this.apiHost}}/userimage/get/{{this.currentUser.user.id}}" alt="{{this.currentUser.user.name}}">
                {{!-- .img-push is used to add margin to elements next to floating images --}}
                <div class="img-push">
                  <a href="javascript:void(0);" {{action "showDialog"}}>
                    <span class="disabled-text new-conversation">
                      {{t "views.app.conversation.create"}}
                      <div class="pull-right" data-btn="addConversation">
                        <i class="fa fa-plus btn"></i>
                      </div>
                    </span>
                  </a>
                </div>
              </div>
              {{!-- /.box-footer --}}
            </div>
          </div>

          {{#each this.model as |entity|}}

            <div class="masonry-item">


              <div class="box box-widget">
                <div class="box-header with-border">
                  <div class="user-block">
                    <img class="img-circle" src="{{this.apiHost}}/userimage/get/{{entity.createdUser}}" alt="{{t "global.form.image"}}">
                    <span class="subject"><a href="#">{{entity.subject}}</a></span>
                    <span class="description"><a href="/app/user/{{entity.createdBy.id}}">{{entity.createdBy.name}}</a> - {{get-date entity "dateModified" "MMM d, yy, hh:mm a"}}</span>
                  </div>
                  {{!-- /.user-block --}}
                  <div class="box-tools">

                    <span class="upvotes">
                      {{entity.votes.length}}
                      {{#if entity.votes}}
                        {{#if (user-created entity.votes this.currentUser.user.id)}}
                          <i class="fa fa-heart"></i>
                        {{else}}
                          <i class="fa fa-heart-o"></i>
                        {{/if}}
                      {{else}}
                        <i class="fa fa-heart-o"></i>
                      {{/if}}
                    </span>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                      <i class="fa fa-minus"></i>
                    </button>
                  </div>
                  {{!-- /.box-tools --}}
                </div>
                {{!-- /.box-header --}}
                <div class="box-body">
                  {{!-- post text --}}
                  <p>{{translate-comment entity.description}}</p>

                  {{!-- /.attachment-block --}}

                  {{!-- Social sharing buttons --}}
                  {{#if (user-created entity.votes this.currentUser.user.id)}}
                    {{t "views.app.conversation.you"}} <i class="fa fa-heart"></i>
                  {{else}}
                    <button type="button" class="btn btn-default btn-xs" {{action "upvote" entity.id}}>
                      <i class="fa fa-heart-o"></i> {{t "views.app.conversation.upvote"}}
                    </button>
                  {{/if}}
                  <span class="pull-right text-muted">
                    {{entity.comments.length}}
                    {{#if (eq entity.roomType "discussion")}}
                      {{t "views.app.conversation.comments"}}
                    {{else}}
                      {{t "views.app.conversation.votes"}}
                    {{/if}}
                  </span>
                </div>
                {{!-- /.box-body --}}
                <div class="box-footer box-comments">

                  {{#if (eq entity.roomType "discussion")}}
                    {{#each entity.comments as |comment|}}
                      <div class="box-comment">
                        <img class="img-circle img-sm" src="{{this.apiHost}}/userimage/get/{{comment.createdUser}}" alt="{{comment.createdUserName}}">

                        <div class="comment-text">
                          <span class="username">
                            <a href="/app/user/{{comment.createdUser}}">{{comment.createdUserName}}</a>
                            <span class="text-muted pull-right">{{get-date comment "dateModified" "MMM d, yy h:mm a"}}</span>
                          </span>{{!-- /.username --}}
                          {{translate-comment comment.comment}}
                        </div>
                      </div>
                    {{/each}}

                    <div class="box-footer">
                      <form action="#" method="post">
                        <img class="img-responsive img-circle img-sm" src="{{this.apiHost}}/userimage/get/{{this.currentUser.user.id}}" alt="{{this.currentUser.user.name}}">
                        {{!-- .img-push is used to add margin to elements next to floating images --}}
                        <div class="img-push">
                          <div class="message-box">
                            <ConversationUi::MessageBox
                              @usersList={{this.membersList}}
                              @issueSearch={{perform this.search}}
                              @save={{action "save"}}
                              @entity={{entity.id}}
                            />
                          </div>
                        </div>

                      </form>
                    </div>

                  {{else if (eq entity.roomType "vote")}}
                    <div class="panel-body">

                      <div class="vote">
                        <div class="agree">
                          <div class="info-box">
                            {{#if (user-created entity.comments this.currentUser.user.id)}}
                              <span class="info-box-icon bg-green" data-toggle="tooltip" title="{{t "views.app.conversation.vote.voted"}}"><i class="fa fa-thumbs-up"></i></span>
                            {{else}}
                              <a href="javascript:void(0);" {{action "vote" "I agree" entity.id}}>
                                <span class="info-box-icon bg-green" data-toggle="tooltip" title="{{t "views.app.conversation.vote.clickup"}}"><i class="fa fa-thumbs-o-up"></i></span>
                              </a>
                            {{/if}}
                            <div class="info-box-content">
                              <span class="info-box-text">{{t "views.app.conversation.vote.upvote"}}</span>
                              <span class="info-box-number">{{count-votes entity.comments "I agree"}}</span>

                              <div class="progress">
                                <div class="progress-bar bg-green" style={{progress-width (round (mult (div (count-votes entity.comments "I agree") entity.comments.length) 100))}}></div>
                              </div>
                              <span class="progress-description">
                                {{round (mult (div (count-votes entity.comments "I agree") entity.comments.length) 100)}}% {{t "views.app.conversation.vote.agree"}}
                              </span>
                            </div>
                            {{!-- /.info-box-content --}}
                          </div>

                        </div>
                        <div class="disagree">

                          <div class="info-box">
                            {{#if (user-created entity.comments this.currentUser.user.id)}}
                              <span class="info-box-icon bg-red pull-right" data-toggle="tooltip" title="{{t "views.app.conversation.vote.voted"}}"><i class="fa fa-thumbs-down"></i></span>
                            {{else}}
                              <a href="javascript:void(0);" {{action "vote" "I disagree" entity.id}}>
                                <span class="info-box-icon bg-red pull-right" data-toggle="tooltip" title="{{t "views.app.conversation.vote.clickdown"}}"><i class="fa fa-thumbs-o-down"></i></span>
                              </a>
                            {{/if}}
                            <div class="info-box-content">
                              <span class="info-box-text">{{t "views.app.conversation.vote.downvote"}}</span>
                              <span class="info-box-number">{{count-votes entity.comments "I disagree"}}</span>

                              <div class="progress">
                                <div class="progress-bar bg-red" style={{progress-width (round (mult (div (count-votes entity.comments "I disagree") entity.comments.length) 100))}}></div>
                              </div>
                              <span class="progress-description">
                                {{round (mult (div (count-votes entity.comments "I disagree") entity.comments.length) 100)}}% {{t "views.app.conversation.vote.disagree"}}
                              </span>
                            </div>
                            {{!-- /.info-box-content --}}
                          </div>

                        </div>
                      </div>

                    </div>
                  {{/if}}

                </div>

              </div>

            </div>

          {{/each}}
        </div>

      </div>
    </div>

  </div>

  {{#if this.addConversationDialog}}
    {{#bootstrap-modal
      title="views.app.conversation.create"
      confirmLabel="global.form.save"
      closeLabel="global.form.cancel"
      confirm=(action "addConversation")
      close=(action "removeModal")}}
      <div class="box-body">
        <FormFields::FieldText
            @placeholder={{t "views.app.conversation.new.subject"}}
            @label={{t "views.app.conversation.new.subject"}}
            @value={{this.newConversation.subject}}
            @mask="alphanumeric"
            @data-field="newConversation.subject"
            @focus-out={{action (mut this.showSubjectError) true}}
            @v-focus={{this.showSubjectError}}
            @v-model={{this.newConversation}}
            @v-field='subject'
            @v-output='message'
        />

        <FormFields::FieldTextArea
            @placeholder={{t "views.app.conversation.new.description"}}
            @label={{t "views.app.conversation.new.description"}}
            @value={{this.newConversation.description}}
            @data-field="newConversation.description"
            @focus-out={{action (mut this.showDescriptionError) true}}
            @v-focus={{this.showDescriptionError}}
            @v-model={{this.newConversation}}
            @v-field='description'
            @v-output='message'
        />

        <FormFields::FieldRelate
            @placeholder={{t "views.app.conversation.new.type"}}
            @label={{t "views.app.conversation.new.type"}}
            @value={{this.newConversation.roomType}}
            @options={{this.roomTypes}}
            @selected={{find-by "value" this.newConversation.roomType this.roomTypes}}
            @searchField="label"
            @onchange={{action "selectNewType"}}
            @relateType="relate-simple"
            @data-field="newConversation.roomType"
            @focus-out={{action (mut this.showTypeError) true}}
            @v-focus={{this.showTypeError}}
            @v-model={{this.newConversation}}
            @v-field='roomType'
            @v-output='message'
        />

      </div>
    {{/bootstrap-modal}}

  {{/if}}
</section>
