<!--
Project Card
======================
Name (shortCode)
Project Description
Type
Status
Owner
Scope
Vision
Start date
End date
Current Milestone

Members
======================

Milestones with progress
======================

Recent Conversations
======================

time track report
======================

Recent activities
======================

issue ratio (closed vs open)
======================

Budget?
======================

-->

<div class="project">

  <div class="row">

    <div class="col-md-8">

      <div class="box box-primary">
        <div class="box-header with-border">
          <h2 class="box-title">{{model.name}} - ({{model.shortCode}})</h2>

          <div class="box-tools pull-right">
            <span class="info-box-text">{{t (concat "view.app.project.detail.lists.status." model.status)}}</span>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <h4>{{t "view.app.project.detail.description"}}</h4>
          <p>
            {{model.description}}
          </p>

          <h4>{{t "view.app.project.detail.duration"}}</h4>
          <p>
            {{moment-format model.startDate 'Do MMM \'YY'}} - {{moment-format model.endDate 'DD MMM \'YY'}}
            ({{moment model.startDate}})
          </p>

          <p>
            {{moment '12-25-1995' 'MM-DD-YYYY'}}
          </p>
          <p>
            {{moment-format '12-25-1995' 'MM/DD/YYYY' 'MM-DD-YYYY'}} {{!-- outputFormat and inputFormat are optional --}}
          </p>
          <p>
            {{moment-from-now model.startDate) hideSuffix=true}} {{!-- hideSuffix is optional --}}
          </p>
          <p>
            {{moment-to-now (unix timeStamp) model.startDate hidePrefix=true}} {{!-- hidePrefix is optional --}}
          </p>
          <p>
            {{moment-duration number units}} {{!-- units is optional --}}
          </p>
          <p>
            {{moment-calendar model.startDate referenceDate}} {{!-- reference date is optional --}}
          </p>
          <p>
            {{is-before model.startDate comparison precision='year'}} {{!-- precision is optional --}}
          </p>
        </div>
        <!-- /.box-body -->

        <div class="box-footer no-padding">

        </div>
      </div>


    </div>
    <!-- /.end col-md -8 -->

    <div class="col-md-4">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">{{t "view.app.project.detail.members"}}</h3>

          <div class="box-tools pull-right">
          </div>

        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding" style="display: block;">
          <ul class="users-list clearfix">
            {{#each model.members as |member|}}
              <li>
                <img src="http://projects4me/userimage/get/{{member.id}}" alt="{{member.name}}">
                <a class="users-list-name" href="#">{{member.name}}</a>
                <span class="users-list-date">{{getRole member.id model.roles model.memberships}}</span>
              </li>
            {{/each}}

          </ul>
          <!-- /.users-list -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-center" style="display: block;">
          <a href="javascript:void(0)" class="uppercase">{{t "view.app.project.detail.viewallmembers"}}</a>
        </div>
        <!-- /.box-footer -->
      </div>
    </div>
    <!-- /.end col-md -8 -->
  </div>
  <!-- /.end row -->
</div>
<!-- /.end project -->
