<div class="project">
  <div class="row">

    {{!-- The first Column that contains the project information , conversation, issues and time time tracks --}}
    <div class="col-md-8">

      {{!-- This are the project details --}}
      <div class="box box-primary project-details">
        <div class="box-header with-border">
          <h2 class="box-title">{{model.name}} - ({{model.shortCode}})</h2>

          <div class="box-tools pull-right">
            <span class="project-status"><span class="badge {{model.status}}">{{t (concat "views.app.project.detail.lists.status." model.status)}}</span></span>
            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="{{t "global.form.edit"}}" {{action "editProject" model.id}}><i class="fa fa-pencil"></i></button>
            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title=""><i class="fa fa-gears"></i></button>
          </div>
          {{!-- /.box-tools --}}
        </div>
        {{!-- /.box-header --}}
        <div class="box-body">

          <div class="row">

            <div class="col-xs-3 col-md-2">
              <div class="project-owner">
                <img class="img-circle" src="http://projects4me/userimage/get/{{model.owner.id}}" alt="{{model.owner.name}}">
                <a class="users-list-name" href="#">{{model.owner.name}}</a>
                <span class="users-list-date">{{t "views.app.project.detail.owner"}}</span>
              </div>
            </div>

            <div class="col-xs-9 col-md-10">
              <h4>{{t "views.app.project.detail.description"}}</h4>
              <p>
                {{model.description}}
              </p>
            </div>
          </div>

          <div class="row">

            <div class="col-xs-6 col-md-4">
              <h4>{{t "views.app.project.detail.duration"}}</h4>
              <p>
                {{moment-format model.startDate 'Do MMM \'YY'}} - {{moment-format model.endDate 'DD MMM \'YY'}}
              </p>
            </div>

            <div class="col-xs-6 col-md-4">
              <h4>{{t "views.app.project.detail.type"}}</h4>
              <p>
                {{t (concat "views.app.project.detail.lists.type." model.type)}}
              </p>
            </div>

            <div class="col-xs-6 col-md-4">
              <h4>{{t "views.app.project.detail.vision"}}</h4>
              <p>
                {{model.vision}}
              </p>
            </div>

            <div class="col-xs-6 col-md-4">
              <h4>{{t "views.app.project.detail.estimatedBudget"}}</h4>
              <p>
                {{format-money model.estimatedBudget symbol='$' format="%s%v"}}
              </p>
            </div>

            <div class="col-xs-6 col-md-4">
              <h4>{{t "views.app.project.detail.spentBudget"}}</h4>
              <p>
                {{format-money model.spentBudget symbol='$' format="%s%v"}}
              </p>
            </div>

          </div>

        </div>
        {{!-- /.box-body --}}

        <div class="box-footer no-padding">
        </div>
      </div>
      {{!-- /.end project details --}}

      {{!-- This div contains the project conversations and milestones --}}
      <div class="row">

        {{!-- This is the project conversations --}}
        <div class="col-md-6">
          <div class="box box-info  project-conversations-section">
            <div class="box-header with-border">
              <h3 class="box-title">{{t "views.app.project.detail.conversations"}}</h3>

              <div class="box-tools pull-right">
              </div>

            </div>
            {{!-- /.box-header --}}
            <div class="box-body no-padding" style="display: block;">
              <ul class="project-conversations show-5">
                {{#each model.conversations as |conversation|}}
                  <li>
                    <div class="user-block">
                      <img class="img-circle" src="http://projects4me/userimage/get/{{conversation.createdBy}}" alt="{{t "global.form.image"}}">
                      <span class="subject">{{conversation.subject}}</span>
                      <span class="description">{{translate-comment conversation.description}}</span>
                    </div>
                  </li>
                {{/each}}
              </ul>
              {{!-- /.users-list --}}
            </div>
            {{!-- /.box-body --}}
            <div class="box-footer text-center" style="display: block;">
              <a href="javascript:void(0)" class="uppercase" {{action "navigateToProjectPage" "conversation"}}>{{t "views.app.project.detail.viewallconversations"}}</a>
            </div>
            {{!-- /.box-footer --}}
          </div>
        </div>
        {{!-- end of project conversations --}}

        {{!-- These are the lastest 5 open issues in this project --}}
        <div class="col-md-6">
          <div class="box box-success open-issues-section">
            <div class="box-header with-border">
              <h3 class="box-title">{{t "views.app.project.detail.latestissues"}}</h3>

              <div class="box-tools pull-right">

              </div>

            </div>
            {{!-- /.box-header --}}
            <div class="box-body no-padding" style="display: block;">
              <ul class="open-issues show-5 clearfix">
                {{#each issuetime as |issue|}}
                  <li>
                    <div class="issue-block">
                      <div class="priority">{{priority-icon issue.priority}}</div>
                      <div class="data-block">
                        <span class="subject">{{issue.issueNumber}} - {{issue.subject}}</span>
                        <span class="description">{{translate-comment issue.description}}</span>
                        <strong>{{t "views.app.issue.status"}}:</strong> <span class="badge {{issue.status}}">{{t (concat "views.app.issue.lists.status." issue.status)}}</span>
                      </div>
                    </div>
                  </li>
                {{/each}}
              </ul>
              {{!-- /.users-list --}}
            </div>
            {{!-- /.box-body --}}
            <div class="box-footer text-center" style="display: block;">
              <a href="javascript:void(0)" class="uppercase">{{t "views.app.project.detail.viewallissues"}}</a>
            </div>
            {{!-- /.box-footer --}}
          </div>
        </div>
        {{!-- end of last 5 open projects --}}

      </div>


      <div class="row">

        {{!-- This is the project time estimated vs spent --}}
        <div class="col-md-12">
          <div class="box box-default project-estimated-spent-section">
            <div class="box-header with-border">
              <h3 class="box-title">{{t "views.app.project.detail.estimatedspent"}}</h3>

            </div>
            {{!-- /.box-header --}}
            <div class="box-body no-padding" style="display: block;">
              <ul class="project-estimated-spent">
                {{chart-estimatedspent
                    issues=issuetime
                    height="100"
                }}
              </ul>
              {{!-- /.users-list --}}
            </div>
            {{!-- /.box-body --}}
            <div class="box-footer text-center" style="display: block;">
              <a href="javascript:void(0)" class="uppercase">{{t "views.app.project.detail.viewallconversations"}}</a>
            </div>
            {{!-- /.box-footer --}}
          </div>
        </div>
        {{!-- end of project time estimated vs spent --}}

      </div>


      <div class="row">

        {{!-- This is the project activities section --}}
        <div class="col-md-12">
          <div class="box box-primary project-activities-section">
            <div class="box-header with-border">
              <h3 class="box-title">{{t "views.app.project.detail.projectactivities"}}</h3>
            </div>
            <div class="box-body no-padding" style="display: block;">
              <div class="project-activities">
                {{time-line activities=activities}}
              </div>
            </div>
          </div>
        </div>
        {{!-- ./ end project activities section --}}

      </div>


    </div>
    {{!-- /.end col-md -8 --}}

    <div class="col-md-4">

      {{!-- Project Members --}}
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">{{t "views.app.project.detail.members"}}</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="{{t "views.app.project.detail.managemembers"}}"><i class="fa fa-gear"></i></button>
          </div>
        </div>
        {{!-- /.box-header --}}
        <div class="box-body no-padding" style="display: block;">
          <ul class="users-list clearfix">
            {{#each model.members as |member|}}
              <li>
                <img src="http://projects4me/userimage/get/{{member.id}}" alt="{{member.name}}">
                <a class="users-list-name" href="#">{{member.name}}</a>
                <span class="users-list-date">{{get-role member.id model.roles model.memberships}}</span>
              </li>
            {{/each}}
            <li>
              <a href="javascript:void(0);" {{action "showAddMemberDialog"}}>
                <div class="membership-add" data-toggle="tooltip" title="{{t "views.app.project.detail.membership.add"}}">
                  <ion class="ion-android-add"></ion>
                </div>
              </a>
            </li>
          </ul>
          {{#if addMemberDialog}}
            {{#bootstrap-modal
                title="views.app.project.detail.membership.add"
                confirmLabel="global.form.save"
                closeLabel="global.form.cancel"
                confirm=(action "addMember")
                close="removeAddMemberModal"}}
              <form {{action 'addMember' on='submit'}}>
                <div class="form-group">
                  {{field-relate
                      placeholder=(t "views.app.project.detail.membership.selectuser")
                      label=(t "views.app.project.detail.membership.user")
                      value=selectedUser
                      options=usersList
                      selected=(find-by "value" selectedUser usersList)
                      searchField="label"
                      onchange=(action "selectUser")
                      relateType="relate-user"
                  }}

                  {{field-relate
                      placeholder=(t "views.app.project.detail.membership.selectrole")
                      label=(t "views.app.project.detail.membership.role")
                      value=selectedRole
                      options=rolesList
                      selected=(find-by "value" selectedRole rolesList)
                      searchField="label"
                      onchange=(action "selectRole")
                      relateType="relate-simple"
                  }}
                </div>
              </form>
            {{/bootstrap-modal}}
          {{/if}}          {{!-- /.users-list --}}
        </div>
        {{!-- /.box-body --}}
      </div>
      {{!-- /. Project Members --}}


      {{!-- Project Milestones --}}
      <div class="box box-info project-milestones-section">
        <div class="box-header with-border">
          <h3 class="box-title">{{t "views.app.project.detail.milestones"}}</h3>
        </div>

        <div class="box-body no-padding" style="display: block;">
          {{#if (eq milestones.length 0)}}
            <div class="no-entry">{{t "views.app.project.detail.milestone.noentry"}}</div>
          {{else}}
            {{#each milestones as |milestone|}}
              {{#milestone-block milestone=milestone}}
                <a href="javascript:void(0);" {{action "editMilestone" milestone}}>
                  <i class="fa fa-pencil edit-milestone" data-toggle="tooltip" title="{{t "global.form.edit"}}"></i>
                </a>
                <span class="pull-right">
                  {{milestone.progress}}%
                </span>
                <span class="info-box-number" data-trigger="hover" data-toggle="popover" title="{{t (concat "views.app.milestone.lists.type." milestone.milestoneType)}} {{milestone.name}}" data-placement="top" data-content="{{milestone.description}}">{{milestone.name}} - {{milestone.issues.length}} {{t "global.module.plural.issue"}}</span>

                <div class="progress">
                  <div class="progress-bar" style={{progress-width milestone.progress}} data-toggle='tooltip' title='{{t "views.app.project.detail.milestone.progress" closed=(get-issuecount milestone.issues 'closed') total=milestone.issues.length}}'></div>
                </div>
                <span class="progress-description">
                  {{moment-format milestone.startDate 'Do MMM. YYYY'}} - {{moment-format milestone.endDate 'Do MMM. YYYY'}}
                  <span class="pull-right">({{get-issuecount milestone.issues 'closed'}}/{{milestone.issues.length}} {{t "global.module.plural.issue"}})</span>
                </span>
              {{/milestone-block}}
            {{/each}}
          {{/if}}
        </div>

        {{#if milestoneDialog}}
          {{#bootstrap-modal
              title="views.app.project.detail.milestone.manage"
              closeLabel="global.form.close"
              confirmLabel="global.form.save"
              close="removeMilestoneDialog"
              confirm=(action "saveMilestone")}}

            {{field-text
                placeholder=(t "views.app.project.detail.milestone.inputname")
                label=(t "views.app.project.detail.milestone.name")
                value=newMilestone.name
            }}

            {{field-date
                placeholder=(t "views.app.project.detail.milestone.inputstartdate")
                label=(t "views.app.project.detail.milestone.startdate")
                value=(readonly newMilestone.startDate)
                update=(action "milestoneStartDateChanged")
                mask="alphanumeric"
            }}

            {{field-date
                placeholder=(t "views.app.project.detail.milestone.inputenddate")
                label=(t "views.app.project.detail.milestone.enddate")
                value=(readonly newMilestone.endDate)
                update=(action "milestoneEndDateChanged")
                mask="alphanumeric"
            }}

            {{field-relate
                placeholder=(t "views.app.project.detail.milestone.inputtype")
                label=(t "views.app.project.detail.milestone.type")
                value=newMilestone.milestoneType
                options=milestoneTypes
                selected=(find-by "value" newMilestone.milestoneType milestoneTypes)
                searchField="label"
                onchange=(action "selectMilestoneType")
                relateType="relate-simple"
            }}

            {{field-relate
                placeholder=(t "views.app.project.detail.milestone.inputstatus")
                label=(t "views.app.project.detail.milestone.status")
                value=newMilestone.status
                options=milestoneStatuses
                selected=(find-by "value" newMilestone.status milestoneStatuses)
                searchField="label"
                onchange=(action "selectMilestoneStatus")
                relateType="relate-simple"
            }}

            {{field-textarea
                placeholder=(t "views.app.project.detail.milestone.iputdescription")
                label=(t "views.app.project.detail.milestone.description")
                value=newMilestone.description
            }}

          {{/bootstrap-modal}}
        {{/if}}

        <div class="box-footer text-center" style="display: block;">
          <span><a href="javascript:void();" {{action "showMilestoneDialog"}}><i class="fa fa-flag-checkered "></i> {{t "views.app.project.detail.milestone.add"}}</a></span>
        </div>

      </div>
      {{!-- Project Milestones --}}


      {{!-- These are the issues of the project distributed w.r.t. to status --}}
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">{{t "views.app.project.detail.issueratio"}}</h3>
        </div>
        <div class="box-body no-padding" style="display: block;">
          <ul class="users-list clearfix">
            {{chart-issueratio issues=issuetime}}
          </ul>
        </div>
      </div>

      {{!-- This is the project summary --}}
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{{t "views.app.project.detail.summary"}}</h3>
        </div>
        <div class="box-body no-padding" style="display: block;">

          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-users"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">{{t "views.app.project.detail.teamsize"}}</span>
              <span class="info-box-number">{{model.members.length}}</span>
            </div>
          </div>

          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-tasks"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">{{t "views.app.project.detail.openissues"}}</span>
              <span class="info-box-number">{{get-issuecount issuetime "open"}}</span>
            </div>
          </div>

          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-tasks"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">{{t "views.app.project.detail.closedissues"}}</span>
              <span class="info-box-number">{{get-issuecount issuetime "closed"}}</span>
            </div>
          </div>

          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-timer-outline"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">{{t "views.app.project.detail.estimatedtime"}}</span>
              <span class="info-box-number">{{get-timelog issuetime "estimated"}}</span>
            </div>
          </div>

          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-timer"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">{{t "views.app.project.detail.spenttime"}}</span>
              <span class="info-box-number">{{get-timelog issuetime "spent"}}</span>
            </div>
          </div>

        </div>
      </div>
      {{!-- Project Summary --}}

    </div>
    {{!-- /.end col-md -4 --}}

  </div>
  {{!-- /.end row --}}
</div>
{{!-- /.end project --}}
