<div class="wiki-project-wrapper">
  <div class="wiki-project row">

    <AccessControl @aclContext="App.Project.Wiki.List">
      <div class="wiki-list-wrapper col-md-2">
        <div class="wiki-list">

          <a href="#" class="btn btn-primary btn-block margin-bottom" {{action "create"}}><i class="fa fa-plus"></i> {{t "views.app.wiki.create.page"}}</a>

          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">{{t "views.app.wiki.list"}}</h3>
            </div>
            <div class="box-body">
              <ul class="nav nav-pills nav-stacked">
                {{#if (object-empty this.tree)}}
                  <li class="no-entry">{{t "global.noentry"}}</li>
                {{else}}
                  {{tree-list lists=this.tree}}
                {{/if}}
              </ul>
            </div>
          </div>

        </div>
      </div>
    </AccessControl>

    <AccessControl @aclContext="App.Project.Wiki.Read">
      <div class="wiki-detail-wrapper col-md-10">
        {{outlet}}
      </div>
    </AccessControl>
  </div>
</div>
