{{!-- Create template for select field--}}
<label>{{t definition.label}}</label>
{{#if definition.required}}<span class="required">*</span>{{/if}}
{{#if definition.help}}<i data-toggle="tooltip" data-placement="top" title="{{t definition.help}}" class="fa fa-question-circle"></i>{{/if}}
<span class="hidden field-error">{{t definition.errorMsg}}</span>
<div style="clear:both" />
<select name="{{definition.fieldName}}" onchange={{action "changed" value="target.value"}} >
  {{#each definition.options as |option|}}
    <option value={{option.value}}>{{option.label}}</option>
  {{/each}}
</select>
