<section class="content-header">
  <h1>
    {{#if projectId}}
      {{t "view.app.project.label"}}
      <small>{{model.name}}</small>
    {{else}}
      {{t "view.app.project.select"}}
    {{/if}}
  </h1>

  {{#bread-crumbs outputStyle="bootstrap" tagName="ol" linkable=true as |component module|}}
    {{#bread-crumb route=module breadCrumbs=component}}
        <i class="fa fa-{{navIcon module.title}}"></i>
        {{#if module.record}}
          {{module.title}}
        {{else}}
          {{t (concat "view.nav.menu." (camelize module.title) ".label")}}
        {{/if}}
    {{/bread-crumb}}
  {{/bread-crumbs}}

</section>

<section class="content">
  {{#if projectId}}
    {{outlet}}
  {{/if}}
</section>
