<section class="content-header">
  {{#if this.projectId}}
    <h1>
      {{t "views.app.project.label"}}
      <small><a href="#" {{action "navigateToProject" this.model.id}}>{{this.model.name}}</a></small>
    </h1>
  {{else}}
    <div class="callout callout-warning no-project-selected">
      <h4>
        <span class="fa-stack fa-lg">
          <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
          <i class="fa fa-ban fa-stack-2x text-danger"></i>
        </span> {{t "views.app.project.noproject"}}
      </h4>
      {{t "views.app.project.select"}}
    </div>
  {{/if}}

  {{!-- {{#bread-crumbs tagName="ol" linkable=true as |component module|}}
    {{#bread-crumb route=module breadCrumbs=component}}
      <i class="fa fa-{{nav-icon module.title}}"></i>
      {{#if module.record}}
        {{module.title}}
      {{else}}
        {{t (concat "views.nav.menu." (camelize module.title) ".label")}}
      {{/if}}
    {{/bread-crumb}}
  {{/bread-crumbs}} --}}

</section>

<section class="content">
  {{#if this.projectId}}
    {{outlet}}
  {{/if}}
</section>
