<div data-field={{@data-field}} class="form-field ember-view">
  <div class="input-group multiselect-input">
    <PowerSelectMultiple
      @class="form-control"
      @options={{@options}}
      @placeholder={{@placeholder}}
      @selected={{@selected}}
      @searchField={{@searchField}}
      @onChange={{@onchange}}
      @matcher={{@matcher}}
      @onFocus={{action (mut this.shouldValidate) true}}
      @onBlur={{action this.validate}}
      @onClose={{action this.validate}} as |data|>
      {{component (concat 'related-fields/'@relateType) data=data}}
    </PowerSelectMultiple>
  </div>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label class="floating-label">{{@label}}</label>
    {{#if (and @message this.shouldValidate)}}
      <span class="error text-red" id={{@data-field}}>
        {{@message}}
      </span>
    {{/if}}
</div>