<AccessControl @aclContext={{@aclContext}}>
  <div data-field={{@data-field}} class="form-field ember-view {{if @allowInlineEdit 'edit-field'}}">

    <Textarea
      class="form-control data-input"
      @value={{@value}} 
      placeholder={{@placeholder}}
      @label={{@label}}
      {{on "blur" (fn this.validate @dependentField)}}
      {{on "blur" this.onBlur}}
      {{on "focusout" (action (mut this.shouldValidate) true) }}
      ...attributes
    />
    <span class="highlight"></span>
    <span class="bar"></span>

    <label class="floating-label">
      {{@label}} 
    </label> 

    {{#if (and @message this.shouldValidate)}}
      <span class="error text-red" id={{@data-field}}>
        {{@message}}
      </span>
    {{/if}}   

    {{#if @allowInlineEdit}}
      <span class="form-control-feedback edit">
        <i class="fa fa-pencil"></i>
      </span>
      <span class="form-control-feedback save">
        <i class="fa fa-check" data-btn="save" {{on "mousedown" @save}}></i>
      </span>
      
      <span class="form-control-feedback revert">
        <i class="fa fa-close" data-btn="close" {{on "mousedown" @reset}}></i>
      </span>
    {{/if}}    
  </div>
</AccessControl>