<AccessControl @aclContext={{@aclContext}}>
  <div id="search-field" data-module={{@data-module}} data-search={{@data-search}}>
    <Input @type="text" 
      placeholder={{@placeholder}} 
      {{on "input" this.onInput}}
      @value={{@value}}
    />
    <i class="fa fa-search" aria-hidden="true"></i>
  </div>
</AccessControl>