<div data-field={{@data-field}} class="form-field ember-view">
  <Textarea
    class="form-control data-input"
    @value={{@value}} 
    placeholder={{@placeholder}}
    @label={{@label}}
  />
  <span class="highlight"></span>
  <span class="bar"></span>
  <label class="floating-label">{{@label}}</label>
</div>