{{!-- This should be loaded later via the field view ideally --}}
<div data-field={{@data-field}} class="form-field ember-view">
  <Input placeholder={{@placeholder}} @type={{@type}} class="form-control input-sm data-input" @value={{@value}}
    maxlength={{@length}} aria-invalid="true" aria-describedBy={{@data-field}} {{apply-mask @mask}} {{on "focusin" this.focusIn}}
    readonly={{@readonly}} {{on "focusout" (action (mut this.shouldValidate) true) }} />
  <span class="highlight"></span>
  <span class="bar"></span>
  <label class="floating-label">{{@label}}</label>
  <span class="count pull-right">{{this.charLength}}/{{@length}}</span>
  {{#if this.shouldValidate}}
  <span class="error text-red" id={{@data-field}}>
    {{v-get @v-model @v-field @v-output}}
  </span>
  {{/if}}
</div>