{{!-- This should be loaded later via the field view ideally --}}
<div data-field={{@data-field}} class="form-field ember-view">
  <Input placeholder={{@placeholder}} @type={{@type}} class="form-control input-sm data-input" @value={{@value}}
    aria-invalid="true" aria-describedBy={{@data-field}} {{date-picker this.update}} />
  <span class="highlight"></span>
  <span class="bar"></span>
  <label class="floating-label">{{@label}}</label>
</div>