{{#application-wrapper}}

  {{!-- Main Header --}}
  {{application-header
      currentUser=currentUser
      session=session
      invalidateSession=(action "invalidateSession")
      userProfile=(action "userProfile")
      searchedItem=(action "itemSearched")
  }}

  {{!-- Left side column. contains the logo and sidebar --}}
  <AppLayouts::ApplicationSidebar
      @projectList={{projectList}}
      @projectId={{projectId}}
      @currentUser={{currentUser}}
  />
  {{!-- Content Wrapper. Contains page content --}}
  <div class="content-wrapper">
    {{outlet}}
  </div>
  {{!-- /.content-wrapper --}}

  {{!-- Main Footer --}}
  <AppLayouts::ApplicationFooter />

  {{!-- Control Sidebar --}}
  {{application-controlbar
      initChat=(action 'startChat')
      gotMessage=(action 'newMessage')
  }}
  {{!-- /.control-sidebar --}}

  {{!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar --}}
  <div class="control-sidebar-bg"></div>
{{/application-wrapper}}
{{#each chatrooms as |chatroom|}}
  {{chat-box
      chatroom=chatroom
      currentUser=currentUser}}
{{/each}}
