<AppLayouts::ApplicationWrapper>
  {{!-- Main Header --}}
  <AppLayouts::ApplicationHeader
      @session={{this.session}}
      @invalidateSession={{action "invalidateSession"}}
      @userProfile={{action "userProfile"}}
      @searchedItem={{action "itemSearched"}}
  />

  {{!-- Left side column. contains the logo and sidebar --}}
  <AppLayouts::ApplicationSidebar
      @projectList={{this.projectList}}
  />
  {{!-- Content Wrapper. Contains page content --}}
  <div class="content-wrapper">
    {{outlet}}
  </div>
  {{!-- /.content-wrapper --}}

  {{!-- Main Footer --}}
  <AppLayouts::ApplicationFooter />

  {{!-- Control Sidebar --}}
  {{application-controlbar
      initChat=(action 'startChat')
      gotMessage=(action 'newMessage')
  }}
  {{!-- /.control-sidebar --}}

  {{!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar --}}
  <div class="control-sidebar-bg"></div>
</AppLayouts::ApplicationWrapper>
{{#each this.chatrooms as |chatroom|}}
  {{chat-box
      chatroom=chatroom
      currentUser=this.currentUser}}
{{/each}}
