<div class="user-edit">
  <section class="content-header">
    <h1>
      {{t "views.app.user.edit.title"}}
    </h1>
  </section>

  <section class="content">

    <div class="row">

      <div class="col-md-8">

        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">
              {{t "views.app.user.edit.userInfo" }}
            </h3>
          </div>
          <div class="form box-body no-padding">

            <FormFields::FieldText 
              @placeholder={{t "views.app.user.edit.nameplaceholder" }}
              @label={{t "views.app.user.edit.name" }} 
              @type="text" 
              @value={{this.model.name}} 
              @data-field="user.name"
              @lengthRequired={{false}}
              @validate={{action this.validateField "userEdit" (hash name="name" value=this.model.name)}}
              @message={{this.message.userEdit.name}}
              @aclContext="App.User.Edit.Name"
              {{autofocus}} 
            />

            <FormFields::FieldText 
              @placeholder={{t "views.app.user.edit.emailplaceholder" }}
              @label={{t "views.app.user.edit.email" }}
              @type="text" 
              @value={{this.model.email}}
              @data-field="user.email" 
              @lengthRequired={{false}} 
              @mask="email"
              @validate={{action this.validateField "userEdit" (hash name="email" value=this.model.email)}}
              @message={{this.message.userEdit.email}}
              @aclContext="App.User.Edit.Email"
            />

            <FormFields::FieldText 
              @placeholder={{t "views.app.user.edit.usernameplaceholder"}}
              @label={{t "views.app.user.edit.username"}} 
              @type="text" 
              @value={{this.model.username}}
              @data-field="user.username" 
              @lengthRequired={{false}}
              @onInput={{this.onInput}}
              @validationMessage={{this.validationMessage}}
              @isSuccessful={{this.isSuccessful}}
              @validate={{action this.validateField "userEdit" (hash name="username" value=this.model.username)}}
              @message={{this.message.userEdit.username}}
              @aclContext="App.User.Edit.UserName"             
            />

            <FormFields::FieldDate 
              @placeholder={{t "views.app.user.edit.dobplaceholder" }}
              @label={{t "views.app.user.edit.dateofbirth" }} 
              @value="{{readonly this.model.dateOfBirth}}"
              @update={{action "selectStatic" this.model 'dateOfBirth' }} 
              @mask="alphanumeric"
              @data-field="user.dateOfBirth" 
              @format="DD-MM" 
              @singleDatePicker={{true}}
              @showDropdowns={{true}} 
              @positionX="right" 
              @positionY="down" 
              @autoApply={{true}} 
              @minDate="01-01"
              @startDate="01-01"
              @parentEl='[data-field="user.dateOfBirth"]'
              @endDate="31-12"
              @maxDate="31-12"
              @validate={{action this.validateField "userEdit" (hash name="dateOfBirth" value=this.model.dateOfBirth)}}
              @message={{this.message.userEdit.dateOfBirth}}
              @aclContext="App.User.Edit.DateOfBirth"
            />                        

          </div>
        </div>

      </div>

      <div class="col-md-4">

        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">
              {{t "views.app.user.edit.profilePicture"}}
            </h3>

            <div class="box-body">
              <User::Edit::ProfilePicture
                @model={{this.model}}
                @uploadImage={{this.uploadImage}}
              />
            </div>
          </div>
        </div>

        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">
              {{t "views.app.user.edit.language"}}
            </h3>

            <div class="box-body">
              <AppUi::Language
                @placeholder={{t "views.app.user.edit.languageplaceholder"}}
                @label={{t "views.app.user.edit.languagelabel"}}
                @value={{this.model.language}}
                @onchange={{action "selectRelated" this.model 'language'}}
                @model={{this.model}}
                @data-field="user.language"
                @validate={{action this.validateField "userEdit" (hash name="language" value=this.model.language)}}
                @message={{this.message.userEdit.language}}                   
              />
            </div>
          </div>
        </div>

        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">
              {{t "views.app.user.edit.timezone"}}
            </h3>

          <User::Create::Timezones
            @value={{this.model.timezone}}
            @model={{this.model}}
            @selectRelated={{this.selectRelated}}
            @validate={{action this.validateField "userEdit" (hash name="timezone" value=this.model.timezone)}}
            @message={{this.message.userEdit.timezone}}               
          />
          </div>
          
        </div>
      </div>

    <div class="col-sm-12">
      <button type="button" data-btn="save" class="btn btn-primary" {{action "save" "userEdit"}}>{{t "global.form.save"}}</button>
      <button type="button" data-btn="cancel" class="btn btn-default" {{action "cancel"}}>{{t "global.form.cancel"}}</button>
    </div>
        
    </div>

  </section>
</div>