<div class="user-page">

  <section class="content-header">
    <h1>
      {{t "views.app.user.page.title"}}
    </h1>

    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> {{t "module.home"}}</a></li>
      <li class="active">{{t "view.app.user.page.title"}}</li>
    </ol>

  </section>

  <section class="content">

    <div class="row">
      <div class="col-md-3 col-sm-3">

      {{!-- User profile info section starts--}}
        <div class="box box-primary">
          <div class="box-body box-profile">
            <img class="user-profile-img img-responsive" src="http://projects4me/userimage/get/{{this.model.id}}" alt="{{this.model.name}}">

            <div class="user-info">
                <h3 class="user-name">{{this.model.name}}</h3>
                <span class="user-designation">{{this.model.title}}</span>
            </div>

            <UserProfile::SocialLinks
              @user={{this.model}}
              @redirect={{fn this.redirectToSocialLink}}
            />

          </div>
        </div>
      {{!-- User profile info section ends--}}
 
        {{!-- User Skills section starts --}}
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">{{t "views.app.user.page.skills"}}</h3>
          </div>

          <div class="box-body">
              
            <div class="user-skills">
              {{#each (get-user-skills skillsString=this.model.skills) as |skill|}}
                <span class="label label-primary skill-item">
                  {{skill}}
                </span>                
              {{/each}}
            </div>

          </div>
        </div>
        {{!-- User Skills section ends --}}
        
        {{!-- User Education Section starts --}}
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"> {{t "views.app.user.page.education"}} </h3>
            </div>

            <div class="box-body">
              <div class="user-education">
                <i class="fa fa-graduation-cap"></i>
                <span class="education"> {{this.model.education}} </span>
              </div>
            </div>

          </div>
        {{!-- User Education Section ends --}}

        {{!-- User Badges Section starts --}}
          <div data-user-section="badges" class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"> {{t "views.app.user.page.badges"}} </h3>
            </div>

            <div class="box-body">
              <div class="user-badges">
                {{#each this.model.badgeDetails as |badgeDetail|}}
                  <span class="badge-img" data-toggle="tooltip" title="{{badgeDetail.badge.name}}[{{badgeDetail.badgeLevel.name}}]">
                    <img src="http://projects4me/image/get/{{badgeDetail.badgeLevel.id}}" alt="{{badgeDetail.badge.name}}">
                  </span>
                {{/each}}        
              </div>
            </div>

          </div>
        {{!-- User Badges Section ends --}}

      </div>

      <div class="col-md-9">
        <div class="box box-primary">
          <div class="box-body">
            <div class="col-md-12">
              <div class="col-md-3 col-sm-3">
                <div class="user-stats-card">

                  <div class="stats-label"> 
                     {{t "views.app.user.page.stats.projects"}}
                  </div>

                  <Charts::OpenClosedChart
                    @closedCount={{this.closedProjects}}
                    @openCount={{this.openProjects}}
                    @for="projects"
                  />

                </div>            
              </div>
              <div class="col-md-3 col-sm-3">
                <div class="user-stats-card">

                  <div class="stats-label">
                    {{t "views.app.user.page.stats.issues"}} 
                  </div>

                  <Charts::OpenClosedChart
                    @closedCount={{this.closedIssues}}
                    @openCount={{this.openIssues}}
                    @for="issues"
                  />          

                </div>            
              </div>
              <div class="col-md-3 col-sm-3">
                <div class="user-stats-card">
                  
                  <div class="stats-label">
                    {{t "views.app.user.page.stats.timespent.label"}}
                    <span class="time-spent-sub-label">
                      ({{t "views.app.user.page.stats.timespent.sublabel"}})
                    </span>
                  </div>

                  <UserProfile::TimeSpent
                    @timeSpent={{this.model.timeSpent}}
                  />

                </div>
              </div>
              <div class="col-md-3 col-sm-3">
                <div class="user-stats-card">

                  <div class="stats-label">
                    {{t "views.app.user.page.stats.collaboration"}} 
                  </div>

                  <UserProfile::Collaboration
                    @numberOfComments={{this.comments.length}}
                  />

                </div>                                              
              </div>                                          
            </div>
          </div>
        </div>

      </div>

    </div>

  </section>

</div>