<div class="user-page">

  <section class="content-header">
    <h1>
      {{t "views.app.user.page.title"}}
    </h1>

    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> {{t "module.home"}}</a></li>
      <li class="active">{{t "view.app.user.page.title"}}</li>
    </ol>

  </section>

  <section class="content">

    <div class="row">
      <div class="col-md-3">

      {{!-- User profile info section starts--}}
        <div class="box box-primary">
          <div class="box-body box-profile">
            <img class="user-profile-img img-responsive" src="http://projects4me/userimage/get/{{model.id}}" alt="{{model.name}}">

            <div class="user-info">
                <h3 class="user-name">{{model.name}}</h3>
                <span class="user-designation">{{model.title}}</span>
            </div>

            <UserProfile::SocialLinks
              @user={{model}}
              @redirect={{fn this.redirectToSocialLink}}
            />

          </div>
        </div>
      {{!-- User profile info section ends--}}
 
        {{!-- User Skills section --}}
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">{{t "views.app.user.page.skills"}}</h3>
          </div>

          <div class="box-body">
            <strong><i class="fa fa-book margin-r-5"></i> {{t "views.app.user.page.education"}}</strong>

            <p class="text-muted">
              {{model.education}}
            </p>

            <hr>

            <strong><i class="fa fa-pencil margin-r-5"></i> {{t "views.app.user.page.skills"}}</strong>

            <p>
              {{#each model.skills as |skills|}}
                <span class="label label-danger">{{skills.tag}}</span>
              {{/each}}

            </p>

            <hr>

            <strong><i class="fa fa-file-text-o margin-r-5"></i> {{t "views.app.user.page.notes"}}</strong>

            <p>{{model.description}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#activity" data-toggle="tab">{{t "views.app.user.page.activity"}}</a></li>
            <li><a href="#timeline" data-toggle="tab">{{t "views.app.user.page.timeline"}}</a></li>
          </ul>
          <div class="tab-content">

            <div class="active tab-pane" id="activity">
            </div>

            <div class="tab-pane" id="timeline">
            </div>

          </div>

        </div>

      </div>

    </div>

  </section>

</div>